<h3>
	Hi! I'm still building this portfolio, <br />
	so, maybe some of the links bellow <br />
	aren't gonna be finished.
</h3>
<br />
<p>But still, fill free to take a look =D</p>
<br /><br />
<h4>Resumes</h4>
<a routerLink="/resumes/en">English Resume</a><br />
<a routerLink="/resumes/pt">Portuguese Resume</a><br />
<br />
<h4>Landing Pages</h4>
<a routerLink="/landing-pages/01">Landing Page 1</a><br />
<a routerLink="/landing-pages/02">Landing Page 2</a><br />
<h4>Projects</h4>
<a href="https://systemnear.com/" target="_blank">System Near</a><br />
<a href="https://faceless.systemnear.com" target="_blank">Faceless</a><br />
<a href="https://drinkcoffee.systemnear.com" target="_blank">DrinkCoffee</a><br />
<a href="https://cartao-ponto.systemnear.com" target="_blank">CartãoPonto</a><br />
