<div class="navbar">
	<div class="navbar__container container large">
		<div class="navbar__content">
			<div class="navbar__left">
				<img src="#" alt="#" class="navbar__image" />
			</div>
			<div class="navbar__right">
				<ul class="navbar__menu">
					<li class="navbar__menu_item">
						<a href="#" class="navbar__menu_link">About Us</a>
					</li>
					<li class="navbar__menu_item">
						<a href="#" class="navbar__menu_link">Features</a>
					</li>
					<li class="navbar__menu_item">
						<a href="#" class="navbar__menu_link">Teams</a>
					</li>
					<li class="navbar__menu_item">
						<a href="#" class="navbar__menu_link">Portfolio</a>
					</li>
					<li class="navbar__menu_item">
						<a href="#" class="navbar__menu_link">Client</a>
					</li>
					<li class="navbar__menu_item">
						<a href="#" class="navbar__menu_link">Contact</a>
					</li>
					<li class="navbar__menu_item">
						<a href="#" class="navbar__menu_link">FB</a>
					</li>
					<li class="navbar__menu_item">
						<a href="#" class="navbar__menu_link">TW</a>
					</li>
					<li class="navbar__menu_item">
						<a href="#" class="navbar__menu_link">IG</a>
					</li>
					<li class="navbar__menu_item">
						<a href="#" class="navbar__menu_link button primary">Hire Us</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
