<div class="resume01">
	<div class="resume01__main">
		<div class="resume01__container">
			<div class="resume01__top">
				<div class="resume01__top_left">
					<div class="resume01__person">
						<div class="resume01__person_photo">
							<!-- <img src="./../../../../../assets/images/resumes/felipe-iwamoto.jpg" alt="Felipe Iwamoto" class="resume01__person_image"> -->
							<img
								src="assets/images/resumes/felipe-iwamoto.jpg"
								alt="Felipe Iwamoto"
								class="resume01__person_image"
							/>
						</div>
						<div class="resume01__person_info">
							<span class="resume01__person_name">
								FELIPE<br />
								IWAMOTO
							</span>
							<span class="resume01__person_job">Desenvolvedor Full-Stack</span>
						</div>
					</div>
				</div>
				<div class="resume01__top_right">
					<ul class="resume01__contact">
						<li class="resume01__contact_item" *ngFor="let item of contacts || []; index as i">
							<re-contact slug="01" [contact]="item"></re-contact>
						</li>
					</ul>
				</div>
			</div>
			<div class="resume01__content">
				<div class="resume01__content_left">
					<div class="resume01__panel">
						<span class="resume01__panel_title">
							<i class="resume01__panel_icon ft_briefcase"></i>EXPERIÊCIAS
						</span>
						<div class="resume01__experience">
							<div class="resume01__experience_item" *ngFor="let item of experiences || []; index as i">
								<re-experience slug="01" [experience]="item"></re-experience>
							</div>
						</div>
					</div>
				</div>
				<div class="resume01__content_right">
					<div class="resume01__panel">
						<span class="resume01__panel_title">
							<i class="resume01__panel_icon ft_user"></i>SOBRE MIM
						</span>
						<span class="resume01__text">{{ aboutMe.text }}</span>
					</div>
					<div class="resume01__panel">
						<span class="resume01__panel_title">
							<i class="resume01__panel_icon ft_globe"></i>LINGUAGENS
						</span>
						<div class="resume01__language">
							<ul class="resume01__language_list">
								<li class="resume01__language_item" *ngFor="let item of languages || []; index as i">
									<re-language slug="01" [language]="item"></re-language>
								</li>
							</ul>
						</div>
					</div>
					<div class="resume01__panel">
						<span class="resume01__panel_title">
							<i class="resume01__panel_icon ft_award"></i>GRADUAÇÕES
						</span>
						<ul class="resume01__education">
							<li class="resume01__education_item" *ngFor="let item of educations || []; index as i">
								<re-education slug="01" [education]="item"></re-education>
							</li>
						</ul>
					</div>
					<div class="resume01__panel">
						<span class="resume01__panel_title">
							<i class="resume01__panel_icon ft_flag"></i>HABILIDADES
						</span>
						<div class="resume01__skill">
							<div class="resume01__skill_type" *ngFor="let type of getSkillsTypes || []; index as i">
								<span class="resume01__skill_type_name">{{ type }}</span>
								<ul class="resume01__skill_list">
									<li
										class="resume01__skill_item"
										*ngFor="let item of getSkillsByType(type) || []; index as i"
									>
										<re-skill slug="01" [skill]="item"></re-skill>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
