@import './../../resumes.component.scss';
@import './../../../../../theme.scss';
@import './../../../../../mixin.scss';

.resume01 {
	--resume01ContentLeftRight: 200px;

	padding: 50px 10px;
	@include flex(center, center);
	background-color: var(--greye);
	// background-color: var(--primary);
	// background-image: linear-gradient(to bottom, var(--primary), var(--grey7));
	// background-image: linear-gradient(to top, var(--primary), var(--grey7));

	&__main {
		width: 25cm;
		min-height: 33.7cm;
		background-color: var(--greyf);
		// border-radius:30px;
		// box-shadow:0px 10px 100px -25px var(--primary);
	}
	&__container {
		width: min(100% - 20px, 768px);
		margin-block: 90px;
		margin-inline: auto;
		position: relative;
	}
	&__top {
		@include flex(center, space-between);
	}
	&__top_left {
	}
	&__person {
		@include flex(center, space-between);
	}
	&__person_photo {
		--personPhotoSize: 150px;
		width: var(--personPhotoSize);
		height: var(--personPhotoSize);
		border-radius: 50%;
		background-color: var(--greyd);
		overflow: hidden;
	}
	&__person_image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__person_info {
		margin-left: 30px;
	}
	&__person_name {
		display: block;
		@include title(clamp(20px, 5vw, 48px), 700);
		color: var(--primary);
	}
	&__person_job {
		display: block;
		@include title(clamp(14px, 5vw, 18px), 300);
		color: var(--grey7);
	}
	&__top_right {
	}
	&__contact {
	}
	&__contact_item {
		& + & {
			margin-top: 10px;
		}
	}
	&__content {
		@include flex(flex-start, space-between);
	}
	&__content_left {
		width: calc(100% - (var(--resume01ContentLeftRight) + 15px));
	}
	&__panel {
		margin-top: 30px;
	}
	&__panel_title {
		display: block;
		@include title(18px, 400);
		margin-bottom: 30px;
		color: var(--primary);
		@include inlineFlex(center);
	}
	&__panel_icon {
		width: 25px;
		height: 25px;
		@include flex(center, flex-start);
		margin-right: 5px;
		font-size: 18px;
		color: var(--primary);
	}
	&__experience {
	}
	&__experience_item {
		& + & {
			margin-top: 30px;
		}
	}
	&__content_right {
		margin-left: 30px;
		width: var(--resume01ContentLeftRight);
	}
	&__title {
	}
	&__text {
		display: block;
		color: var(--grey7);
		@include title(12px, 300);
	}
	&__skill {
	}
	&__skill_type {
		& + & {
			margin-top: 30px;
		}
	}
	&__skill_type_name {
		display: block;
		margin-bottom: 15px;
		color: var(--grey7);
		@include title(14px, 300);
	}
	&__skill_list {
		@include row(-5px);
	}
	&__skill_item {
		margin-top: 10px;
		@include column(50%, 5px);
	}
	&__language {
	}
	&__language_list {
		@include row(-5px);
	}
	&__language_item {
		margin-top: 10px;
		@include column(50%, 5px);
	}
}
