$primary: #321b15;
$secondary: #b89062;
$green: #91c7b1;
$orange: #e5b181;
$red: #da4167;
$black: #000;
$grey0: #000;
$grey1: #111;
$grey2: #222;
$grey3: #333;
$grey4: #444;
$grey5: #555;
$grey6: #666;
$grey7: #777;
$grey8: #888;
$grey9: #999;
$greya: #aaa;
$greyb: #bbb;
$greyc: #ccc;
$greyd: #ddd;
$greye: #eee;
$greyf9: #f9f9f9;
$greyf: #fff;
$white: #fff;

$theme: (
	'primary': $primary,
	'secondary': $secondary,
	'green': $green,
	'orange': $orange,
	'red': $red,
	'black': $black,
	'grey0': $grey0,
	'grey1': $grey1,
	'grey2': $grey2,
	'grey3': $grey3,
	'grey4': $grey4,
	'grey5': $grey5,
	'grey6': $grey6,
	'grey7': $grey7,
	'grey8': $grey8,
	'grey9': $grey9,
	'greya': $greya,
	'greyb': $greyb,
	'greyc': $greyc,
	'greyd': $greyd,
	'greye': $greye,
	'greyf9': $greyf9,
	'greyf': $greyf,
	'white': $white,
);
