<div class="our_team">
	<div class="our_team__container container">
		<div class="our_team__content">
			<div class="information">
				<span class="information__title">TEAMS</span>
				<span class="information__main">Our Team Works</span>
				<span class="information__text">
					Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative<br />
					approaches to corporate strategy foster collaborative thinking to further
				</span>
			</div>
			<div class="our_team__row">
				<div class="our_team__column" *ngFor="let item of persons || []; index as i">
					<lp01-person [person]="item"></lp01-person>
				</div>
			</div>
		</div>
	</div>
</div>
