@import './../../landing-page01.component.scss';

.our_team {
	margin-bottom: 50px;

	.information {
		text-align: center;
	}
	.ornament__item {
		&:nth-of-type(1) {
			top: 38px;
			right: -114px;
		}
	}
	&__container {
	}
	&__content {
	}
	&__row {
		@include row(-8px);
	}
	&__column {
		margin-top: 50px;
		@include column(25%, 8px);
	}
}
