<!-- START: BLOG -->
<section class="blog">
	<div class="blog__container container">
		<div class="blog__header">
			<span class="blog__name">Blog</span>
			<h2 class="blog__title">Laborum magna nulla duis</h2>
			<p class="blog__description">
				Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.<br />
				Voluptate exercitation incididunt aliquip deserunt.
			</p>
		</div>
		<div class="blog__content">
			<div class="blog__slide">
				<div class="blog__slide__item">
					<div class="blog__slide__content">
						<div class="blog__slide__top">
							<div class="blog__slide__image"></div>
						</div>
						<div class="blog__slide__bottom">
							<span class="blog__slide__category">Finance Manager</span>
							<h3 class="blog__slide__title">Lorem ipsum dolor sit amet, consectetur adipiscing</h3>
							<div class="blog__slide__action">
								<div class="blog__slide__action__item">
									<i class="fas fa-comment-dots"></i>
									25
								</div>
								<div class="blog__slide__action__item">
									<i class="fas fa-eye"></i>
									125k
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="blog__slide__item">
					<div class="blog__slide__content">
						<div class="blog__slide__top">
							<div class="blog__slide__image"></div>
						</div>
						<div class="blog__slide__bottom">
							<span class="blog__slide__category">Finance Manager</span>
							<h3 class="blog__slide__title">Lorem ipsum dolor sit amet, consectetur adipiscing</h3>
							<div class="blog__slide__action">
								<div class="blog__slide__action__item">
									<i class="fas fa-comment-dots"></i>
									25
								</div>
								<div class="blog__slide__action__item">
									<i class="fas fa-eye"></i>
									125k
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="blog__slide__item">
					<div class="blog__slide__content">
						<div class="blog__slide__top">
							<div class="blog__slide__image"></div>
						</div>
						<div class="blog__slide__bottom">
							<span class="blog__slide__category">Finance Manager</span>
							<h3 class="blog__slide__title">Lorem ipsum dolor sit amet, consectetur adipiscing</h3>
							<div class="blog__slide__action">
								<div class="blog__slide__action__item">
									<i class="fas fa-comment-dots"></i>
									25
								</div>
								<div class="blog__slide__action__item">
									<i class="fas fa-eye"></i>
									125k
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: BLOG -->
