<div class="newsletter">
	<div class="newsletter__container container small">
		<div class="newsletter__content">
			<div class="newsletter__left">
				<div class="information">
					<span class="information__main">
						Subscribe Our<br />
						News Letter
					</span>
					<span class="information__text">You can read our news letter and get free knowledge</span>
				</div>
			</div>
			<div class="newsletter__right">
				<div class="text_field01">
					<input type="text" inputmode="email" id="email" class="text_field01__input" />
					<label for="email" class="text_field01__label"></label>
				</div>
				<button class="text_field01__button button primary">Subscribe</button>
			</div>
		</div>
	</div>
</div>
