<div class="newsletter">
	<div class="newsletter__container container small">
		<ul class="ornament">
			<li class="ornament__item dotted red"></li>
			<li class="ornament__item dotted red"></li>
		</ul>
		<div class="newsletter__content">
			<div class="newsletter__left">
				<div class="information">
					<span class="information__main">
						Subscribe Our<br />
						News Letter
					</span>
					<span class="information__text">You can read our news letter and get free knowledge</span>
				</div>
			</div>
			<div class="newsletter__right">
				<div class="text_field01">
					<input
						type="text"
						inputmode="email"
						id="email"
						class="text_field01__input"
						placeholder="Input your email address"
					/>
					<label for="email" class="text_field01__label">E-mail</label>
				</div>
				<button class="newsletter__button button blue">Subscribe</button>
			</div>
		</div>
	</div>
</div>
