@import './../../landing-page01.component.scss';

.our_services {
	--ourServiceLeftWidth: 600px;
	margin-top: 250px;
	margin-bottom: 150px;

	.ornament__item {
		&:nth-of-type(1) {
			right: -240px;
			top: 34vh;
		}
	}
	&__container {
	}
	&__content {
		@include flex(center, space-between);
	}
	&__left {
		width: calc(100% - (var(--ourServiceLeftWidth) + 30px));
		margin-right: 30px;
	}
	&__button {
	}
	&__right {
		width: var(--ourServiceLeftWidth);
	}
	&__row {
		@include row(-8px);
	}
	&__column {
		@include column(50%, 8px);

		&:nth-of-type(even) {
			margin-top: -100px;
		}
	}
	&__button {
		width: 168px;
	}
}
