<div class="our_services">
	<div class="our_services__container container small">
		<ul class="ornament">
			<li class="ornament__item dotted red"></li>
		</ul>
		<div class="our_services__content">
			<div class="our_services__left">
				<div class="information">
					<span class="information__title"> </span>
					<span class="information__main">
						I will show you<br />
						what our team do
					</span>
					<span class="information__text">
						Lorem Ipsum is simply dummy = of the printing and<br />
						typesetting industry. Lorem Ipsum has been the industry's<br />
						standard dummy text ever since the 1500s, when an<br />
						unknown printer took a galley of type and scrambled it<br />
						to make a type specimen book.
					</span>
					<button class="our_services__button information__button button blue">Learn More</button>
				</div>
			</div>
			<div class="our_services__right">
				<div class="our_services__row">
					<div class="our_services__column" *ngFor="let item of services || []; index as i">
						<lp01-service [service]="item"></lp01-service>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
