<!-- START: SERVICE -->
<section class="service">
	<div class="service__container container">
		<div class="service__row">
			<div class="service__column">
				<div class="service__card">
					<div class="service__top">
						<div class="service__icon">
							<img
								src="assets/images/landing-pages/landing-page02/dotted-icon-white.svg"
								alt="Dotted icon"
							/>
						</div>
					</div>
					<div class="service__bottom">
						<h3 class="service__title">Miles Esther</h3>
						<p class="service__description">Voluptate exercitation incididunt aliquip deserunt</p>
					</div>
				</div>
			</div>
			<div class="service__column">
				<div class="service__card">
					<div class="service__top">
						<div class="service__icon">
							<img
								src="assets/images/landing-pages/landing-page02/dotted-icon-white.svg"
								alt="Dotted icon"
							/>
						</div>
					</div>
					<div class="service__bottom">
						<h3 class="service__title">Miles Esther</h3>
						<p class="service__description">Voluptate exercitation incididunt aliquip deserunt</p>
					</div>
				</div>
			</div>
			<div class="service__column">
				<div class="service__card">
					<div class="service__top">
						<div class="service__icon">
							<img
								src="assets/images/landing-pages/landing-page02/dotted-icon-white.svg"
								alt="Dotted icon"
							/>
						</div>
					</div>
					<div class="service__bottom">
						<h3 class="service__title">Miles Esther</h3>
						<p class="service__description">Voluptate exercitation incididunt aliquip deserunt</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: SERVICE -->
