@import './../../all';

.service {
	margin-top: -163px;

	&__container {
	}
	&__row {
		margin-left: -11px;
		margin-right: -11px;
		display: flex;
		flex-wrap: wrap;
	}
	&__column {
		width: 33.3333333%;
		padding-left: 11px;
		padding-right: 11px;

		&:nth-child(1) {
			.service__card {
				background-color: #fff5eb;
			}
			.service__icon {
				background-color: #f5ca6e;
			}
		}
		&:nth-child(2) {
			.service__card {
				background-color: #ffedeb;
			}
			.service__icon {
				background-color: #f16e88;
			}
		}
		&:nth-child(3) {
			.service__card {
				background-color: #f2f8f3;
			}
			.service__icon {
				background-color: #b1d7b8;
			}
		}
	}
	&__card {
		width: 100%;
		padding: 23px 33px 20px 33px;
		border-radius: 13px;
		box-shadow: 0px 19px 33px adjust-color($color: #6f6d71, $alpha: -0.83);
	}
	&__icon {
		width: 60px;
		height: 60px;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 32px;
			object-fit: contain;
		}
	}
	&__title {
		margin-top: 19px;
		margin-bottom: 8px;
		word-spacing: 3px;
		font-size: 1.2rem;
	}
	&__description {
		line-height: 24px;
		font-size: 0.97rem;
		color: $grey6;
	}
}

@media all and (max-width: 1200px) {
	.service {
		&__container {
		}
		&__row {
		}
		&__column {
			&:nth-child(1) {
				.service__card {
				}
				.service__icon {
				}
			}
			&:nth-child(2) {
				.service__card {
				}
				.service__icon {
				}
			}
			&:nth-child(3) {
				.service__card {
				}
				.service__icon {
				}
			}
		}
		&__card {
		}
		&__icon {
			img {
			}
		}
		&__title {
		}
		&__description {
		}
	}
}

@media all and (max-width: 992px) {
	.service {
		&__container {
		}
		&__row {
		}
		&__column {
			&:nth-child(1) {
				.service__card {
				}
				.service__icon {
				}
			}
			&:nth-child(2) {
				.service__card {
				}
				.service__icon {
				}
			}
			&:nth-child(3) {
				.service__card {
				}
				.service__icon {
				}
			}
		}
		&__card {
		}
		&__icon {
			img {
			}
		}
		&__title {
		}
		&__description {
		}
	}
}

@media all and (max-width: 768px) {
	.service {
		margin-top: -120px;

		&__container {
		}
		&__row {
		}
		&__column {
			max-width: 100%;
			flex-basis: 100%;

			&:nth-child(1) {
				.service__card {
				}
				.service__icon {
				}
			}
			&:nth-child(2) {
				.service__card {
				}
				.service__icon {
				}
			}
			&:nth-child(3) {
				.service__card {
				}
				.service__icon {
				}
			}
		}
		&__card {
			margin-bottom: 30px;
			display: flex;
			align-items: center;
		}
		&__icon {
			margin-right: 15px;
			img {
			}
		}
		&__title {
			font-size: 1.5rem;
			line-height: 30px;
			margin-top: 0px;
		}
		&__description {
			font-size: 0.8rem;
			line-height: 20px;
		}
	}
}

@media all and (max-width: 576px) {
	.service {
		&__container {
		}
		&__row {
		}
		&__column {
			&:nth-child(1) {
				.service__card {
				}
				.service__icon {
				}
			}
			&:nth-child(2) {
				.service__card {
				}
				.service__icon {
				}
			}
			&:nth-child(3) {
				.service__card {
				}
				.service__icon {
				}
			}
		}
		&__card {
		}
		&__icon {
			img {
			}
		}
		&__title {
		}
		&__description {
		}
	}
}
