<!-- START: PARTNER -->
<section class="partner">
	<div class="partner__container container">
		<div class="partner__content">
			<div class="partner__list">
				<div class="partner__list__item">
					<div class="partner__list__logo">
						<img
							src="assets/images/landing-pages/landing-page02/logo-3.svg"
							class="svg"
							alt="Logo partner 1"
						/>
					</div>
				</div>
				<div class="partner__list__item">
					<div class="partner__list__logo">
						<img
							src="assets/images/landing-pages/landing-page02/logo-2.svg"
							class="svg"
							alt="Logo partner 1"
						/>
					</div>
				</div>
				<div class="partner__list__item">
					<div class="partner__list__logo">
						<img
							src="assets/images/landing-pages/landing-page02/logo-1.svg"
							class="svg"
							alt="Logo partner 1"
						/>
					</div>
				</div>
				<div class="partner__list__item">
					<div class="partner__list__logo">
						<img
							src="assets/images/landing-pages/landing-page02/logo-4.svg"
							class="svg"
							alt="Logo partner 1"
						/>
					</div>
				</div>
				<div class="partner__list__item">
					<div class="partner__list__logo">
						<img
							src="assets/images/landing-pages/landing-page02/logo-5.svg"
							class="svg"
							alt="Logo partner 1"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: PARTNER -->
