<!-- START: PRICE -->
<section class="price">
	<div class="price__animation">
		<div class="price__animation__triangle"></div>
		<div class="price__animation__circle"></div>
		<div class="price__animation__square"></div>
		<div class="price__animation__ball_01"></div>
		<div class="price__animation__ball_02"></div>
		<div class="price__animation__ball_03"></div>
		<div class="price__animation__ball_04"></div>
	</div>
	<div class="price__container container">
		<div class="price__header">
			<span class="price__name">Price</span>
			<h2 class="price__title">Laboris commodo consequat</h2>
			<p class="price__description">
				Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.<br />
				Voluptate exercitation incididunt aliquip deserunt.
			</p>
		</div>
		<div class="price__content">
			<div class="price__row">
				<div class="price__column">
					<div class="price__plan">
						<input
							type="radio"
							name="plan"
							class="price__radio"
							id="plan__basic"
							value="plan__basic"
							checked
						/>
						<label for="plan__basic" class="price__plan__item">
							<div class="price__plan__left">
								<div class="price__plan__bullet">
									<div class="price__plan__icon">
										<i class="fas fa-check"></i>
									</div>
								</div>
							</div>
							<div class="price__plan__center">
								<h3 class="price__plan__name">Basic</h3>
								<div class="price__plan__save">Save 20%</div>
							</div>
							<div class="price__plan__right">
								<span class="price__plan__price">
									<span class="price__plan__dollar">$</span>
									<span class="price__plan__number">24</span>
									<span class="price__plan__period">/ Monthly</span>
								</span>
							</div>
						</label>
						<input
							type="radio"
							name="plan"
							class="price__radio"
							id="plan__standart"
							value="plan__standart"
						/>
						<label for="plan__standart" class="price__plan__item">
							<div class="price__plan__left">
								<div class="price__plan__bullet">
									<div class="price__plan__icon">
										<i class="fas fa-check"></i>
									</div>
								</div>
							</div>
							<div class="price__plan__center">
								<h3 class="price__plan__name">Standart</h3>
								<div class="price__plan__save">Save 20%</div>
							</div>
							<div class="price__plan__right">
								<span class="price__plan__price">
									<span class="price__plan__dollar">$</span>
									<span class="price__plan__number">24</span>
									<span class="price__plan__period">/ Monthly</span>
								</span>
							</div>
						</label>
						<input
							type="radio"
							name="plan"
							class="price__radio"
							id="intermediante"
							value="plan__intermediante"
						/>
						<label for="intermediante" class="price__plan__item">
							<div class="price__plan__left">
								<div class="price__plan__bullet">
									<div class="price__plan__icon">
										<i class="fas fa-check"></i>
									</div>
								</div>
							</div>
							<div class="price__plan__center">
								<h3 class="price__plan__name">Intermediate</h3>
								<div class="price__plan__save">Save 20%</div>
							</div>
							<div class="price__plan__right">
								<span class="price__plan__price">
									<span class="price__plan__dollar">$</span>
									<span class="price__plan__number">24</span>
									<span class="price__plan__period">/ Monthly</span>
								</span>
							</div>
						</label>
					</div>
				</div>
				<div class="price__column">
					<div class="price__tab">
						<div class="price__tab__item" data-tab="plan__basic">
							<div class="price__list">
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">All limited link</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Unlimited users</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Chat support</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item">
									<p class="price__list__description">Optimized hashtags</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item">
									<p class="price__list__description">Analytic tools</p>
									<div class="price__list__icon"></div>
								</div>
							</div>
						</div>
						<div class="price__tab__item" data-tab="plan__standart">
							<div class="price__list">
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">All limited link</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Unlimited users</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Chat support</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Optimized hashtags</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item">
									<p class="price__list__description">Analytic tools</p>
									<div class="price__list__icon"></div>
								</div>
							</div>
						</div>
						<div class="price__tab__item" data-tab="plan__intermediante">
							<div class="price__list">
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">All limited link</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Unlimited users</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Chat support</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Optimized hashtags</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Analytic tools</p>
									<div class="price__list__icon"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button class="price__button button primary">Choose Plan</button>
		</div>
	</div>
</section>
<!-- END: PRICE -->
