@import './../../all';

.price {
	padding-top: 65px;
	padding-bottom: 111px;
	position: relative;
	text-align: center;
	background-color: #fff5eb;

	&__animation {
		top: 0px;
		width: 100%;
		height: 100%;
		position: absolute;

		@keyframes move {
			0% {
				transform: translate(0px, 0px);
			}

			100% {
				transform: translate(0px, 50px);
			}
		}

		&__triangle {
			border: none;
			width: 0px;
			height: 0px;
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;
			border-bottom: 45px solid adjust-color($color: #ff7eb3, $alpha: -0.7);
			top: 115px;
			left: 199px;
			position: absolute;
			transform: rotate(-14deg);
			animation: move 5s infinite alternate-reverse ease-in-out;
		}
		&__circle {
			width: 57px;
			height: 57px;
			border-radius: 50%;
			top: 148px;
			left: -36px;
			background-image: linear-gradient(
				to right,
				adjust-color($color: #ff7eb3, $alpha: -0.7),
				adjust-color($color: #ff758c, $alpha: -0.7)
			);
			position: absolute;
			animation: move 7s infinite alternate-reverse ease-in-out;
		}
		&__square {
			width: 57px;
			height: 57px;
			top: 368px;
			left: 87px;
			background-image: linear-gradient(
				to right,
				adjust-color($color: #ff7eb3, $alpha: -0.7),
				adjust-color($color: #ff758c, $alpha: -0.7)
			);
			position: absolute;
			animation: move 9s infinite alternate-reverse ease-in-out;
		}
		&__ball_01,
		&__ball_02,
		&__ball_03,
		&__ball_04 {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #ee5328;
			position: absolute;
		}
		&__ball_01 {
			bottom: 379px;
			right: 132px;
			animation: move 5s infinite alternate-reverse ease-in-out;
		}
		&__ball_02 {
			bottom: 266px;
			right: 202px;
			animation: move 6s infinite alternate-reverse ease-in-out;
		}
		&__ball_03 {
			bottom: 180px;
			right: 100px;
			animation: move 7s infinite alternate-reverse ease-in-out;
		}
		&__ball_04 {
			bottom: 171px;
			right: 278px;
			animation: move 8s infinite alternate-reverse ease-in-out;
		}
	}
	&__container {
		z-index: 1;
		position: relative;
	}
	&__header {
	}
	&__name {
		font-size: 1.3rem;
		margin-bottom: 19px;
		font-weight: bold;
		display: block;
		color: #ff7eb3;
	}
	&__title {
		font-size: 1.8rem;
		font-weight: 900;
		letter-spacing: 0.3px;
	}
	&__description {
		margin-top: 26px;
		font-size: 0.98rem;
		line-height: 26px;
		color: $grey6;
	}
	&__content {
		margin-top: 72px;
	}
	&__row {
		margin-left: -11px;
		margin-right: -11px;
		display: flex;
		flex-wrap: wrap;
	}
	&__column {
		width: 50%;
		padding-left: 11px;
		padding-right: 11px;
	}
	&__plan {
	}
	&__radio {
		display: none;

		&:checked {
			+ .price__plan__item .price__plan__icon {
				opacity: 1;
				transition: 0.5s;
				visibility: visible;
			}
		}
	}
	&__plan__item {
		border-radius: 20px;
		padding: 5px 19px 5px 30px;
		min-height: 106px;
		margin-bottom: 14px;
		box-shadow: 0px 19px 33px adjust-color($color: #6f6d71, $alpha: -0.93);
		background-color: $white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
	}
	&__plan__left {
	}
	&__plan__bullet {
		width: 27px;
		height: 27px;
		border-radius: 50%;
		border: 2px solid #ff7eb3;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: linear-gradient(145deg, #ff7eb3, #ff758c);
	}
	&__plan__icon {
		transition: 0.5s;
		opacity: 0;
		visibility: hidden;
		i {
			color: $white;
		}
	}
	&__plan__center {
		width: 100%;
		padding: 0px 5px 0px 38px;
		text-align: left;
	}
	&__plan__name {
		font-size: 1.2rem;
	}
	&__plan__save {
		border-radius: 30px;
		min-height: 32px;
		margin-top: 9px;
		padding: 6px 16px;
		white-space: nowrap;
		display: inline-flex;
		background-color: #ffedeb;
		color: #f16e88;
	}
	&__plan__right {
		transform: translateX(-2px);
	}
	&__plan__price {
		white-space: nowrap;
		display: flex;
		align-items: center;
	}
	&__plan__dollar {
		font-weight: 900;
		font-size: 0.9rem;
		margin-right: 3px;
		align-self: flex-start;
	}
	&__plan__number {
		font-size: 2rem;
		font-weight: 900;
	}
	&__plan__period {
		padding-left: 8px;
		font-size: 0.87rem;
		margin-top: 8px;
	}
	&__column {
	}
	&__tab {
		&__item {
			display: none;
			&--active {
				display: block;
			}
		}
	}
	&__list {
		border-radius: 20px;
		padding: 11px 34px 29px 34px;
		background-color: $white;
	}
	&__list__item {
		min-height: 61px;
		border-bottom: 1px solid #ebe9ed;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&--active {
			.price__list__description {
				color: $grey1;
			}
			.price__list__icon:before {
				font-family: 'Font Awesome 5 Free';
				content: '\f00c'; /* FontAwesome Unicode */
				color: #f16e88;
			}
		}
	}
	&__list__description {
		font-size: 1rem;
		color: $grey6;
	}
	&__list__icon {
		margin-right: 17px;
		margin-top: 7px;
	}
	&__list__icon:before {
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		font-size: 1.2rem;
		line-height: 1;
		content: '\f068';
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		color: #f7b6c3;
	}
	&__button {
		margin-top: 56px;
		min-height: 57px;
		width: 165px;
		font-size: 1.1rem;
	}
}

@media all and (max-width: 1200px) {
	.price {
		&__animation {
			@keyframes move {
				0% {
					transform: translate(0px, 0px);
				}

				100% {
				}
			}

			&__triangle {
			}
			&__circle {
			}
			&__square {
			}
			&__ball_01,
			&__ball_02,
			&__ball_03,
			&__ball_04 {
			}
			&__ball_01 {
			}
			&__ball_02 {
			}
			&__ball_03 {
			}
			&__ball_04 {
			}
		}
		&__container {
		}
		&__header {
		}
		&__name {
		}
		&__title {
		}
		&__description {
		}
		&__content {
		}
		&__row {
		}
		&__column {
		}
		&__plan {
		}
		&__radio {
			&:checked {
				+ .price__plan__item .price__plan__icon {
				}
			}
		}
		&__plan__item {
		}
		&__plan__left {
		}
		&__plan__bullet {
		}
		&__plan__icon {
			i {
			}
		}
		&__plan__center {
		}
		&__plan__name {
		}
		&__plan__save {
		}
		&__plan__right {
		}
		&__plan__price {
		}
		&__plan__dollar {
		}
		&__plan__number {
		}
		&__plan__period {
		}
		&__column {
		}
		&__tab {
			&__item {
				&--active {
				}
			}
		}
		&__list {
		}
		&__list__item {
			&--active {
				.price__list__description {
				}
				.price__list__icon:before {
				}
			}
		}
		&__list__description {
		}
		&__list__icon {
		}
		&__list__icon:before {
		}
		&__button {
		}
	}
}

@media all and (max-width: 992px) {
	.price {
		&__animation {
			@keyframes move {
				0% {
					transform: translate(0px, 0px);
				}

				100% {
				}
			}

			&__triangle {
			}
			&__circle {
			}
			&__square {
			}
			&__ball_01,
			&__ball_02,
			&__ball_03,
			&__ball_04 {
			}
			&__ball_01 {
			}
			&__ball_02 {
			}
			&__ball_03 {
			}
			&__ball_04 {
			}
		}
		&__container {
		}
		&__header {
		}
		&__name {
		}
		&__title {
		}
		&__description {
		}
		&__content {
		}
		&__row {
		}
		&__column {
		}
		&__plan {
		}
		&__radio {
			&:checked {
				+ .price__plan__item .price__plan__icon {
				}
			}
		}
		&__plan__item {
		}
		&__plan__left {
		}
		&__plan__bullet {
		}
		&__plan__icon {
			i {
			}
		}
		&__plan__center {
		}
		&__plan__name {
		}
		&__plan__save {
		}
		&__plan__right {
		}
		&__plan__price {
		}
		&__plan__dollar {
		}
		&__plan__number {
		}
		&__plan__period {
		}
		&__column {
		}
		&__tab {
			&__item {
				&--active {
				}
			}
		}
		&__list {
		}
		&__list__item {
			&--active {
				.price__list__description {
				}
				.price__list__icon:before {
				}
			}
		}
		&__list__description {
		}
		&__list__icon {
		}
		&__list__icon:before {
		}
		&__button {
		}
	}
}

@media all and (max-width: 768px) {
	.price {
		padding-top: 30px;
		padding-bottom: 30px;

		&__animation {
			@keyframes move {
				0% {
					transform: translate(0px, 0px);
				}

				100% {
				}
			}

			&__triangle {
			}
			&__circle {
			}
			&__square {
			}
			&__ball_01,
			&__ball_02,
			&__ball_03,
			&__ball_04 {
			}
			&__ball_01 {
			}
			&__ball_02 {
			}
			&__ball_03 {
			}
			&__ball_04 {
			}
		}
		&__container {
		}
		&__header {
		}
		&__name {
		}
		&__title {
			font-size: 1.5rem;
			line-height: 30px;
		}
		&__description {
			font-size: 0.8rem;
			line-height: 20px;
		}
		&__content {
		}
		&__row {
		}
		&__column {
			max-width: 100%;
			flex-basis: 100%;
		}
		&__plan {
		}
		&__radio {
			&:checked {
				+ .price__plan__item .price__plan__icon {
				}
			}
		}
		&__plan__item {
			min-height: 80px;
		}
		&__plan__left {
		}
		&__plan__bullet {
		}
		&__plan__icon {
			i {
			}
		}
		&__plan__center {
		}
		&__plan__name {
		}
		&__plan__save {
		}
		&__plan__right {
		}
		&__plan__price {
		}
		&__plan__dollar {
		}
		&__plan__number {
		}
		&__plan__period {
		}
		&__column {
		}
		&__tab {
			&__item {
				&--active {
				}
			}
		}
		&__list {
		}
		&__list__item {
			&--active {
				.price__list__description {
				}
				.price__list__icon:before {
				}
			}
		}
		&__list__description {
		}
		&__list__icon {
		}
		&__list__icon:before {
		}
		&__button {
		}
	}
}

@media all and (max-width: 576px) {
	.price {
		&__animation {
			@keyframes move {
				0% {
					transform: translate(0px, 0px);
				}

				100% {
				}
			}

			&__triangle {
			}
			&__circle {
			}
			&__square {
			}
			&__ball_01,
			&__ball_02,
			&__ball_03,
			&__ball_04 {
			}
			&__ball_01 {
			}
			&__ball_02 {
			}
			&__ball_03 {
			}
			&__ball_04 {
			}
		}
		&__container {
		}
		&__header {
		}
		&__name {
		}
		&__title {
		}
		&__description {
		}
		&__content {
		}
		&__row {
		}
		&__column {
		}
		&__plan {
		}
		&__radio {
			&:checked {
				+ .price__plan__item .price__plan__icon {
				}
			}
		}
		&__plan__item {
		}
		&__plan__left {
		}
		&__plan__bullet {
		}
		&__plan__icon {
			i {
			}
		}
		&__plan__center {
		}
		&__plan__name {
		}
		&__plan__save {
		}
		&__plan__right {
		}
		&__plan__price {
		}
		&__plan__dollar {
		}
		&__plan__number {
		}
		&__plan__period {
		}
		&__column {
		}
		&__tab {
			&__item {
				&--active {
				}
			}
		}
		&__list {
		}
		&__list__item {
			&--active {
				.price__list__description {
				}
				.price__list__icon:before {
				}
			}
		}
		&__list__description {
		}
		&__list__icon {
		}
		&__list__icon:before {
		}
		&__button {
		}
	}
}
