<a routerLink="/landing-pages/01">Landing Page 01</a><br />
<a routerLink="/landing-pages/02">Landing Page 02</a><br />
<a routerLink="/landing-pages/03">Landing Page 03</a><br />
<a routerLink="/landing-pages/04">Landing Page 04</a><br />
<a routerLink="/landing-pages/05">Landing Page 05</a><br />
<a routerLink="/landing-pages/06">Landing Page 06</a><br />
<a routerLink="/landing-pages/07">Landing Page 07</a><br />
<a routerLink="/landing-pages/08">Landing Page 08</a><br />
<a routerLink="/landing-pages/09">Landing Page 09</a><br />
<a routerLink="/landing-pages/10">Landing Page 10</a><br />
<br />

<router-outlet></router-outlet>
