.button {
	@include inlineFlex(center, center);
	min-height: 40px;
	padding: 5px 10px;
	outline: none;
	border: 1px solid transparent;
	border-radius: 8px;
	@include title(14px, 100);
	color: var(--grey6);
	cursor: pointer;
	transition: 0.5s;
	translate: 0px 0px;

	&:hover {
		transition: 0.5s;
		translate: 0px -2px;
	}
	&[disabled] {
		opacity: 0.5;
		cursor: not-allowed;
	}
	&.fluid {
		width: 100%;
	}
	&.small {
		min-height: 25px;
		@include title(12px, 100);
		padding: 2px 5px;
	}
	&.baseRed {
		background-color: var(--baseRed);
		color: var(--greyf);
	}
	&.baseRedLight {
		background-color: var(--baseRedLight);
		color: var(--greyf);
	}
	&.red {
		background-color: var(--red);
		color: var(--greyf);
	}
	&.redLight {
		background-color: var(--redLight);
		color: var(--greyf);
	}
	&.green {
		background-color: var(--green);
		color: var(--greyf);
	}
	&.greenLight {
		background-color: var(--greenLight);
		color: var(--greyf);
	}
	&.blue {
		background-color: var(--blue);
		color: var(--greyf);
	}
	&.blueLight {
		background-color: var(--blueLight);
		color: var(--greyf);
	}
	&.black {
		background-color: var(--black);
		color: var(--greyf);
	}
	&.grey0 {
		background-color: var(--grey0);
		color: var(--greyf);
	}
	&.grey1 {
		background-color: var(--grey1);
		color: var(--greyf);
	}
	&.grey2 {
		background-color: var(--grey2);
		color: var(--greyf);
	}
	&.grey3 {
		background-color: var(--grey3);
		color: var(--greyf);
	}
	&.grey4 {
		background-color: var(--grey4);
		color: var(--greyf);
	}
	&.grey5 {
		background-color: var(--grey5);
		color: var(--greyf);
	}
	&.grey6 {
		background-color: var(--grey6);
		color: var(--greyf);
	}
	&.grey7 {
		background-color: var(--grey7);
		color: var(--greyf);
	}
	&.grey8 {
		background-color: var(--grey8);
		color: var(--greyf);
	}
	&.grey9 {
		background-color: var(--grey9);
		color: var(--greyf);
	}
	&.greya {
		background-color: var(--greya);
		color: var(--grey0);
	}
	&.greyb {
		background-color: var(--greyb);
		color: var(--grey0);
	}
	&.greyc {
		background-color: var(--greyc);
		color: var(--grey0);
	}
	&.greyd {
		background-color: var(--greyd);
		color: var(--grey0);
	}
	&.greye {
		background-color: var(--greye);
		color: var(--grey0);
	}
	&.greyf {
		background-color: var(--greyf);
		color: var(--grey0);
	}
	&.white {
		background-color: var(--white);
		color: var(--grey0);
	}
}
