@import './../../landing-page01.component.scss';

.question {
	box-shadow: 0px 25px 55px adjust-color($color: $grey7, $alpha: -0.85);

	&.opened {
		.question__title {
			text-shadow: 0px 4px 4px adjust-color($color: $grey0, $alpha: -0.75);
		}
		.question__toggler {
			rotate: 45deg;
		}
		.question__content {
			padding: 0px 16px 16px 16px;
			height: max-content;
		}
		.question__text {
		}
	}
	&__header {
		padding: 16px 16px;
		position: relative;
		@include flex(center, space-between);
	}
	&__title {
		transition: 1s;
		display: block;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		width: calc(100% - 40px);
		@include title(16px);
		color: var(--grey6);
	}
	&__toggler {
		transition: 1s;
		display: block;
		width: max-content;
		margin-left: 10px;
		font-size: 20px;
		text-align: right;
		cursor: pointer;
	}
	&__content {
		transition: 1s;
		overflow: hidden;
		height: 0px;
		padding: 0px 16px;
	}
	&__text {
		display: block;
		@include title(16px);
		color: var(--grey9);
	}
}
