<!-- START: TESTIMONY -->
<section class="testimony">
	<div class="testimony__container container">
		<div class="testimony__header">
			<span class="testimony__name">Testimony</span>
			<h2 class="testimony__title">Excepteur sint occaecat cupidatat</h2>
			<p class="testimony__description">
				Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.<br />
				Voluptate exercitation incididunt aliquip deserunt.
			</p>
		</div>
		<div class="testimony__content">
			<div class="testimony__slide">
				<div class="testimony__slide__item">
					<div class="testimony__slide__content">
						<div class="testimony__slide__left">
							<div class="testimony__slide__image"></div>
						</div>
						<div class="testimony__slide__right">
							<div class="testimony__slide__top">
								<p class="testimony__slide__message">
									"Your company is truly upstanding and is behind its product 100%. It's the perfect
									solution for our business. It has really helped our business."
								</p>
							</div>
							<div class="testimony__slide__bottom">
								<h3 class="testimony__slide__author">Howard Arlene</h3>
								<h3 class="testimony__slide__job">Finance Manager</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="testimony__slide__item">
					<div class="testimony__slide__content">
						<div class="testimony__slide__left">
							<div class="testimony__slide__image"></div>
						</div>
						<div class="testimony__slide__right">
							<div class="testimony__slide__top">
								<p class="testimony__slide__message">
									"Your company is truly upstanding and is behind its product 100%. It's the perfect
									solution for our business. It has really helped our business."
								</p>
							</div>
							<div class="testimony__slide__bottom">
								<h3 class="testimony__slide__author">Howard Arlene</h3>
								<h3 class="testimony__slide__job">Finance Manager</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="testimony__slide__item">
					<div class="testimony__slide__content">
						<div class="testimony__slide__left">
							<div class="testimony__slide__image"></div>
						</div>
						<div class="testimony__slide__right">
							<div class="testimony__slide__top">
								<p class="testimony__slide__message">
									"Your company is truly upstanding and is behind its product 100%. It's the perfect
									solution for our business. It has really helped our business."
								</p>
							</div>
							<div class="testimony__slide__bottom">
								<h3 class="testimony__slide__author">Howard Arlene</h3>
								<h3 class="testimony__slide__job">Finance Manager</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: TESTIMONY -->
