.container {
	width: min(100% - 30px, 1024px);
	margin-inline: auto;
	position: relative;
	z-index: 1;
	background-color: rgba(255, 0, 0, 0.2);

	&.small {
		width: min(100% - 30px, 1024px);
	}

	&.medium {
		width: min(100% - 30px, 1128px);
	}

	&.large {
		width: min(100% - 30px, 1232px);
	}
}
