<div class="header">
	<div class="header__container container">
		<ul class="ornament">
			<li class="ornament__item box red"></li>
			<li class="ornament__item box red"></li>
			<li class="ornament__item box green"></li>
			<li class="ornament__item dotted red"></li>
			<li class="ornament__item dotted red"></li>
		</ul>
		<div class="header__content">
			<div class="header__left"></div>
			<div class="header__right">
				<div class="information">
					<span class="information__title"> </span>
					<span class="information__main">
						Connections with<br />
						people through<br />
						digital media
					</span>
					<span class="information__text">
						Leverage agile frameworks to provide a robust synopsis for high level<br />
						overviews. Iterative approaches to corporate strategy foster<br />
						collaborative thinking to further the overall value proposition.
					</span>
					<button class="information__button">Our Works</button>
				</div>
			</div>
		</div>
	</div>
</div>
