@import './../../landing-page01.component.scss';

.header {
	position: relative;
	margin-top: 73px;
	min-height: 687px;

	.ornament__item {
		&:nth-of-type(1) {
			top: -28px;
			left: 426px;
			z-index: 1;
		}
		&:nth-of-type(2) {
			bottom: -20px;
			left: -105px;
			z-index: 1;
		}
		&:nth-of-type(3) {
			bottom: 19vh;
			right: -76px;
		}
		&:nth-of-type(4) {
			top: 0px;
			right: -214px;
		}
		&:nth-of-type(5) {
			bottom: -58px;
			// left: 272px;
			left: 372px;
		}
	}
	&__container {
	}
	&__content {
		@include flex(center, space-between);
	}
	&__left {
		height: 687px;

		&:before {
			content: '';
			display: block;
			width: 608px;
			height: 100%;
			position: absolute;
			left: -156px;
			top: 0px;
			background-color: var(--baseRedLight);
		}
	}
	&__right {
		margin-left: auto;
		width: max-content;
		translate: -75px -14px;
	}
	&__button {
		width: 162px;
	}
}
