@import './../../../../../../theme.scss';
@import './../../../../../../mixin.scss';

.education01 {
	&__university {
		display: block;
		margin-bottom: 5px;
		@include title(12px, 400);
		color: var(--grey7);
	}
	&__top {
		margin-bottom: 15px;
		@include flex(baseline, space-between);
	}
	&__course {
		@include title(12px, 300);
		color: var(--grey7);

		&:before {
			// content: '\e911';
			// content: '\e829';
			content: '\e844';
			display: inline-flex;
			margin-right: 0px;
			font-family: 'feather' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			color: var(--grey7);
		}
	}
	&__period {
		@include flex(baseline);
		@include title(12px, 300);
		color: var(--grey7);

		&:after {
			content: '\e84d';
			font-family: 'feather' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-size: 13px;
			margin-left: 5px;
			color: var(--primary);
		}
	}
	&__from {
		text-transform: capitalize;
		&:after {
			content: '-';
			display: inline-flex;
			margin-inline: 5px;
		}
	}
	&__to {
		text-transform: capitalize;
	}
	&__is_current {
		text-transform: capitalize;
	}
	&__bottom {
	}
	&__description {
		@include title(14px, 300);
		color: var(--grey7);
	}
	&__list {
		@include row(-15px);

		& + & {
			margin-top: 10px;
		}
	}
	&__list_title {
		margin-bottom: 15px;
		@include title(12px, 700);
		color: var(--grey7);
		@include column(100%, 15px);
	}
	&__list_item {
		@include flex(baseline);
		@include column(50%, 15px);
		@include title(12px, 300);
		color: var(--grey7);
		margin-bottom: 5px;

		&:before {
			// content: '\e911';
			// content: '\e829';
			content: '\e844';
			display: inline-flex;
			margin-right: 0px;
			font-family: 'feather' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}
