<a routerLink="/resumes/01">Resume 01</a><br />
<a routerLink="/resumes/02">Resume 02</a><br />
<a routerLink="/resumes/03">Resume 03</a><br />
<a routerLink="/resumes/04">Resume 04</a><br />
<a routerLink="/resumes/05">Resume 05</a><br />
<a routerLink="/resumes/06">Resume 06</a><br />
<a routerLink="/resumes/07">Resume 07</a><br />
<a routerLink="/resumes/08">Resume 08</a><br />
<a routerLink="/resumes/09">Resume 09</a><br />
<a routerLink="/resumes/10">Resume 10</a><br />
<br />

<router-outlet></router-outlet>
