<div class="experience01" *ngIf="experience">
	<span class="experience01__job">{{ experience.job }}</span>
	<div class="experience01__top">
		<div class="experience01__company">{{ experience.company }}</div>
		<div class="experience01__period">
			<span class="experience01__from" *ngIf="periodFrom">{{ periodFrom }}</span>
			<span class="experience01__to" *ngIf="periodTo">{{ periodTo }}</span>
			<span class="experience01__is_current" *ngIf="periodIsCurrent">{{ periodIsCurrent }}</span>
		</div>
	</div>
	<div class="experience01__bottom">
		<span class="experience01__description" *ngIf="experience.description">{{ experience.description }}</span>
		<ul class="experience01__list" *ngIf="(experience.tasks || []).length">
			<span class="experience01__list_title">{{ texts[language].listTitle.tasks }}</span>
			<li class="experience01__list_item" *ngFor="let item of experience.tasks || []; index as i">
				{{ item }}
			</li>
		</ul>
		<ul class="experience01__list" *ngIf="(experience.softSkills || []).length">
			<span class="experience01__list_title">Soft Skills</span>
			<li class="experience01__list_item" *ngFor="let item of experience.softSkills || []; index as i">
				{{ item }}
			</li>
		</ul>
		<ul class="experience01__list" *ngIf="(experience.hardSkills || []).length">
			<span class="experience01__list_title">Hard Skills</span>
			<li class="experience01__list_item" *ngFor="let item of experience.hardSkills || []; index as i">
				{{ item }}
			</li>
		</ul>
	</div>
</div>
