@import './../../landing-page01.component.scss';

.about_us {
	position: relative;
	margin-top: 73px;
	min-height: 608px;

	.ornament__item {
		&:nth-of-type(1) {
			bottom: 3px;
			right: 158px;
		}
		&:nth-of-type(2) {
			top: -36px;
			right: -94px;
		}
		&:nth-of-type(3) {
			bottom: -55px;
			left: -64px;
			z-index: 1;
		}
	}
	&__container {
	}
	&__content {
		@include flex(center, space-between);
	}
	&__left {
		height: 608px;

		&:before {
			content: '';
			display: block;
			width: 608px;
			height: 100%;
			position: absolute;
			left: -156px;
			top: 0px;
			background-size: cover;
			background-color: var(--baseRedLight);
			background-image: url('./../../../../../../../assets/images/landing-pages/landing-page01/landing_page01_aabout_us01.jpg');
		}
	}
	&__right {
		margin-left: auto;
		width: max-content;
		translate: -75px -14px;
	}
	&__button {
		width: 120px;
	}
}
