<div class="about_us">
	<div class="about_us__container container medium">
		<div class="about_us__content">
			<div class="about_us__left"></div>
			<div class="about_us__right">
				<div class="information">
					<span class="information__title">ABOUT US</span>
					<span class="information__main">
						Perfect solution for<br />
						your Business
					</span>
					<span class="information__text">
						Creating a very beautiful website design in accordance with the<br />
						fundamental user experience which is examined more deeply by the<br />
						UX Designers that we have. And make good visuals so that clients are<br />
						satisfied and easy when viewing the website. First impressions are our<br />
						tricks to attract a customer who has seen the website that we are<br />
						going to create
					</span>
					<button class="about_us__button information__button button blue">Learn More</button>
				</div>
			</div>
		</div>
	</div>
</div>
