@import './../../landing-page01.component.scss';

.about_us {
	position: relative;
	margin-top: 73px;
	min-height: 608px;

	&__container {
	}
	&__content {
		@include flex(center, space-between);
	}
	&__left {
		height: 608px;

		&:before {
			content: '';
			display: block;
			width: 608px;
			height: 100%;
			position: absolute;
			left: -156px;
			top: 0px;
			background-color: var(--baseRedLight);
		}
	}
	&__right {
		margin-left: auto;
		width: max-content;
		translate: -75px -14px;
	}
	&__button {
		width: 120px;
	}
}
