@import './../../landing-page01.component.scss';

.milestone {
	--milestoneRightWidth: 500px;
	margin-block: 150px;

	.ornament__item {
		&:nth-of-type(1) {
			top: -89px;
			left: -222px;
		}
		&:nth-of-type(2) {
			bottom: -178px;
			right: -236px;
		}
	}
	&__container {
	}
	&__content {
		@include flex(flex-end, space-between);
	}
	&__left {
		margin-right: 30px;
		width: calc(100% - (var(--milestoneRightWidth) + 30px));
	}
	&__right {
		translate: 0px 20px;
		width: var(--milestoneRightWidth);
	}
}

.chart {
	&__top {
		@include flex(baseline, space-between);
	}
	&__item {
		&.year {
		}
		&.work {
		}
		&.client {
		}
	}
	&__number {
		display: block;
		@include title(48px, 700);
		color: var(--grey6);
		margin-bottom: 8px;
	}
	&__label {
		display: block;
		@include title(16px, 500);
		color: var(--grey6);
	}
	&__bottom {
	}
	&__text {
		display: block;
		margin-block: 24px;
		@include title(14px, 400);
		color: var(--grey6);
	}
	&__button {
		min-height: 28px;
		width: 91px;
		padding-block: 5px;
		background-color: transparent;
		white-space: nowrap;
		border-color: transparent;
		border-bottom: 4px solid var(--blue);
		@include title(14px, 700);
		color: var(--blue);
	}
}
