<div class="milestone">
	<div class="milestone__container container small">
		<ul class="ornament">
			<li class="ornament__item box blue"></li>
			<li class="ornament__item dotted red"></li>
		</ul>
		<div class="milestone__content">
			<div class="milestone__left">
				<div class="information">
					<span class="information__title">MILESTONE</span>
					<span class="information__main">
						How about some<br />
						fact number<br />
						about us
					</span>
				</div>
			</div>
			<div class="milestone__right">
				<div class="chart">
					<div class="chart__top">
						<div class="chart__item year">
							<span class="chart__number">12</span>
							<span class="chart__label">Years Experience</span>
						</div>
						<div class="chart__top_item work">
							<span class="chart__number">375K</span>
							<span class="chart__label">Work Completed</span>
						</div>
						<div class="chart__top_item client">
							<span class="chart__number">19K</span>
							<span class="chart__label">Client Satisfied</span>
						</div>
					</div>
					<div class="chart__bottom">
						<span class="chart__text">
							Leverage agile frameworks to provide a robust synopsis for high level overviews.<br />
							Iterative approaches to corporate strategy foster collaborative.
						</span>
						<button class="chart__button">See our works</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
