<div class="faq">
	<div class="faq__container container small">
		<ul class="ornament">
			<li class="ornament__item box blue"></li>
			<li class="ornament__item box green"></li>
			<li class="ornament__item dotted red"></li>
			<li class="ornament__item dotted red"></li>
		</ul>
		<div class="faq__content">
			<div class="information">
				<span class="information__title">FAQs</span>
				<span class="information__main">
					Check your<br />
					general Question
				</span>
			</div>
			<div class="faq__tab">
				<div class="faq__tab_header">
					<span
						class="faq__tab_header_item {{ isSelected(item) ? 'active' : '' }}"
						*ngFor="let item of getQuestionsCategories || []; index as i"
						(click)="toggler(item)"
					>
						{{ item }}
					</span>
				</div>
				<div class="faq__tab_content">
					<ng-container *ngFor="let item of questions || []; index as i">
						<div class="faq__tab_content_item" *ngIf="existsOnSelectedCategories(item)">
							<lp01-question [question]="item"></lp01-question>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>
