@import './../../all';

.about_us {
	padding-bottom: 148px;
	text-align: center;
	margin-top: -1px;

	&__container {
	}
	&__header {
	}
	&__name {
		font-size: 1.3rem;
		margin-bottom: 19px;
		font-weight: bold;
		display: block;
		color: #ff7eb3;
	}
	&__title {
		font-size: 1.8rem;
		font-weight: 900;
		letter-spacing: 0.3px;
	}
	&__description {
		margin-top: 26px;
		font-size: 0.98rem;
		line-height: 26px;
		color: $grey6;
	}
	&__content {
		margin-top: 75px;
	}
	&__row {
		margin-left: -32px;
		margin-right: -32px;
		display: flex;
		flex-wrap: wrap;
	}
	&__column {
		width: 50%;
		padding-left: 32px;
		padding-right: 32px;
	}
	&__image {
		width: 375px;
		height: 350px;
		border-radius: 15px;
		background-color: $greyd;
	}
	&__column {
	}
	&__list {
	}
	&__list__item {
		margin-bottom: 44px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	&__list__icon {
		width: 35px;
		height: 35px;
		margin-right: 47px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__list__info {
		width: calc(100% - 82px);
		text-align: left;
	}
	&__list__title {
		font-size: 1.3rem;
		margin-top: -2px;
		margin-bottom: 9px;
		letter-spacing: -0.7px;
		font-weight: bold;
	}
	&__list__description {
		font-size: 1rem;
		line-height: 25px;
	}
}

@media all and (max-width: 1200px) {
	.about_us {
		&__container {
		}
		&__header {
		}
		&__name {
		}
		&__title {
		}
		&__description {
		}
		&__content {
		}
		&__row {
		}
		&__column {
		}
		&__image {
		}
		&__column {
		}
		&__list {
		}
		&__list__item {
		}
		&__list__icon {
			img {
			}
		}
		&__list__info {
		}
		&__list__title {
		}
		&__list__description {
		}
	}
}

@media all and (max-width: 992px) {
	.about_us {
		&__container {
		}
		&__header {
		}
		&__name {
		}
		&__title {
		}
		&__description {
		}
		&__content {
		}
		&__row {
		}
		&__column {
		}
		&__image {
			width: 100%;
		}
		&__column {
		}
		&__list {
		}
		&__list__item {
		}
		&__list__icon {
			img {
			}
		}
		&__list__info {
		}
		&__list__title {
		}
		&__list__description {
		}
	}
}

@media all and (max-width: 768px) {
	.about_us {
		padding-bottom: 30px;

		&__container {
		}
		&__header {
		}
		&__name {
		}
		&__title {
			font-size: 1.5rem;
			line-height: 30px;
		}
		&__description {
		}
		&__content {
			margin-top: 30px;
		}
		&__row {
		}
		&__column {
			max-width: 100%;
			flex-basis: 100%;
		}
		&__image {
			max-width: 350px;
			margin: 0px auto 50px auto;
		}
		&__column {
		}
		&__list {
		}
		&__list__item {
		}
		&__list__icon {
			img {
			}
		}
		&__list__info {
		}
		&__list__title {
		}
		&__list__description {
		}
	}
}

@media all and (max-width: 576px) {
	.about_us {
		&__container {
		}
		&__header {
		}
		&__name {
		}
		&__title {
		}
		&__description {
		}
		&__content {
		}
		&__row {
		}
		&__column {
		}
		&__image {
		}
		&__column {
		}
		&__list {
		}
		&__list__item {
		}
		&__list__icon {
			img {
			}
		}
		&__list__info {
		}
		&__list__title {
		}
		&__list__description {
		}
	}
}
