<!-- START: FOOTER -->
<section class="footer">
	<div class="footer__container container">
		<div class="footer__top">
			<div class="footer__row">
				<div class="footer__column">
					<span class="footer__title">Follow Us</span>
					<div class="footer__social">
						<div class="footer__social__item">
							<a href="#" class="footer__social__link">
								<i class="fas fa-rss-square"></i>
							</a>
						</div>
						<div class="footer__social__item">
							<a href="#" class="footer__social__link">
								<i class="fas fa-blog"></i>
							</a>
						</div>
						<div class="footer__social__item">
							<a href="#" class="footer__social__link">
								<i class="fas fa-audio-description"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="footer__column">
					<span class="footer__title">Contact Us</span>
					<p class="footer__address">
						4517 Washington Ave. Manchester,<br />
						Kentucky 39495
					</p>
					<p class="footer__email">deanna.curtis@example.com</p>
					<p class="footer__phone">(671) 555-0110</p>
				</div>
				<div class="footer__column">
					<span class="footer__title">Userfull Links</span>
					<ul class="footer__menu">
						<li class="footer__menu__item">
							<a href="#" class="footer__menu__link">About Us</a>
						</li>
						<li class="footer__menu__item">
							<a href="#" class="footer__menu__link">Blog</a>
						</li>
						<li class="footer__menu__item">
							<a href="#" class="footer__menu__link">Our Team</a>
						</li>
						<li class="footer__menu__item">
							<a href="#" class="footer__menu__link">404 Page</a>
						</li>
						<li class="footer__menu__item">
							<a href="#" class="footer__menu__link">Pricing Plans</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer__divisor"></div>
		<div class="footer__bottom">
			<div class="footer__copyright">
				<span class="footer__copyright__description">Copyright © 2020. All right reserved</span>
			</div>
			<div class="footer__compatible">
				<span class="footer__compatible__description">Compatible With:</span>
				<div class="footer__device">
					<div class="footer__device__item">
						<i class="fas fa-desktop"></i>
					</div>
					<div class="footer__device__item">
						<i class="fas fa-mobile-alt"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: FOOTER -->
