@import './../../../../../../mixins.scss';

.resume_hero01 {
	text-align: center;

	@include md {
		text-align: left;
	}
	&__name {
		@include text(clamp(20px, 5vw, 48px), 700);
		color: var(--resume01_primary);
		display: block;
	}

	&__role {
		@include text(clamp(14px, 3vw, 18px), 300);
		color: var(--grey7);
		display: block;
	}
}
