@import './../../landing-page01.component.scss';

.portfolio {
	--portfolioProjectItemWidth: 296px;
	--portfolioProjectItemGap: 33px;

	@keyframes infiniteSlider {
		from {
			translate: -100% 0px;
		}
		to {
			translate: 20% 0px;
		}
	}
	&__container {
	}
	&__content {
	}
	&__project {
		position: relative;
	}
	&__project_slider {
		width: max-content;
		animation: infiniteSlider 60s alternate infinite linear;
		@include flex();

		&:hover {
			animation-play-state: paused;
		}
	}
	&__project_item {
		width: 296px;

		& + & {
			margin-left: 33px;
		}
	}
}
