<a routerLink="/projects/01">Project 01</a><br />
<a routerLink="/projects/02">Project 02</a><br />
<a routerLink="/projects/03">Project 03</a><br />
<a routerLink="/projects/04">Project 04</a><br />
<a routerLink="/projects/05">Project 05</a><br />
<a routerLink="/projects/06">Project 06</a><br />
<a routerLink="/projects/07">Project 07</a><br />
<a routerLink="/projects/08">Project 08</a><br />
<a routerLink="/projects/09">Project 09</a><br />
<a routerLink="/projects/10">Project 10</a><br />
<br />

<router-outlet></router-outlet>
