@import './../../landing-page01.component.scss';

.person {
	padding: 32px 20px;
	transition: 1s;
	text-align: center;

	&:hover {
		transition: 1s;
		box-shadow: 0px 25px 55px adjust-color($color: $grey7, $alpha: -0.85);
	}
	&__photo {
		margin-bottom: 24px;
		width: 88px;
		height: 88px;
		border-radius: 8px;
		overflow: hidden;
		margin-inline: auto;
		background-color: var(--baseRedLight);
	}
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 8px;
	}
	&__name {
		display: block;
		margin-bottom: 8px;
		@include title(24px, 700);
		color: var(--grey3);
	}
	&__job {
		display: block;
		margin-bottom: 19px;
		@include title(14px, 400);
		color: var(--grey6);
	}
	&__text {
		display: block;
		margin-bottom: 40px;
		@include title(14px, 400);
		color: var(--grey6);
	}
	&__email {
		display: block;
		@include title(14px, 400);
		color: var(--grey6);
	}
}
