<div class="login">
	<div class="login__form">
		<span class="login__title">LOGIN</span>
		<span class="login__text">Share your amazing stories!</span>
		<div class="login__box">
			<div class="login__field">
				<div class="login__field_item">
					<div class="text_field01">
						<span class="text_field01__feedback"></span>
						<div class="text_field01__container">
							<i class="text_field01__icon left"></i>
							<i class="text_field01__icon right"></i>
							<input type="text" class="text_field01__input" />
						</div>
						<label class="text_field01__label"></label>
					</div>
				</div>
				<div class="login__field_item">
					<div class="text_field01">
						<span class="text_field01__feedback"></span>
						<div class="text_field01__container">
							<i class="text_field01__icon left"></i>
							<i class="text_field01__icon right"></i>
							<input type="text" class="text_field01__input" />
						</div>
						<label class="text_field01__label"></label>
					</div>
				</div>
			</div>
			<div class="login__button button">login</div>
			<ul class="login__action">
				<li class="login__action_item"><span class="login__action_text">Forgot your password?</span></li>
				<li class="login__action_item"><span class="login__action_text">Create new account</span></li>
			</ul>
		</div>
	</div>
</div>
