$white: #ffffff;
$greyf: #ffffff;
$greye: #eeeeee;
$greyd: #dddddd;
$greyc: #cccccc;
$greyb: #bbbbbb;
$greya: #aaaaaa;
$grey9: #999999;
$grey8: #888888;
$grey7: #777777;
$grey6: #666666;
$grey5: #555555;
$grey4: #444444;
$grey3: #333333;
$grey2: #222222;
$grey1: #111111;
$grey0: #000000;
$black: #000000;
