<!-- START: NAV -->
<label for="nav__controller" class="nav__controller">
	<i class="fas fa-bars"></i>
</label>
<input type="checkbox" id="nav__controller" />
<nav class="nav">
	<div class="nav__container container">
		<div class="nav__left">
			<div class="nav__logo">
				<img src="./asset/image/logo.svg" alt="Logo" />
			</div>
		</div>
		<div class="nav__center">
			<ul class="nav__menu">
				<li class="nav__item nav__item--active">
					<a href="#" class="nav__link">Home</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Pages</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Services</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Projects</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Blog</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Contact Us</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Career</a>
				</li>
			</ul>
		</div>
		<div class="nav__right">
			<button class="nav__button button primary">Sign in</button>
		</div>
	</div>
</nav>
<!-- END: NAV -->

<!-- START: HEADER -->
<header class="header">
	<div class="header__container container">
		<div class="header__info">
			<h1 class="header__title">Lorem<br />Cupidatat</h1>
			<p class="header__subtitle">
				Nulla Lorem mollit cupidatat irure. Laborum magna nulla <br />
				duis ullamco cillum dolor. Voluptate exercitation <br />
				incididunt aliquip deserunt.
			</p>
			<button class="header__button button primary outline">Lorem</button>
		</div>
	</div>
</header>
<!-- END: HEADER -->

<!-- START: SERVICE -->
<section class="service">
	<div class="service__container container">
		<div class="service__row">
			<div class="service__column">
				<div class="service__card">
					<div class="service__top">
						<div class="service__icon">
							<img src="./asset/image/dotted-icon-white.svg" alt="Dotted icon" />
						</div>
					</div>
					<div class="service__bottom">
						<h3 class="service__title">Miles Esther</h3>
						<p class="service__description">Voluptate exercitation incididunt aliquip deserunt</p>
					</div>
				</div>
			</div>
			<div class="service__column">
				<div class="service__card">
					<div class="service__top">
						<div class="service__icon">
							<img src="./asset/image/dotted-icon-white.svg" alt="Dotted icon" />
						</div>
					</div>
					<div class="service__bottom">
						<h3 class="service__title">Miles Esther</h3>
						<p class="service__description">Voluptate exercitation incididunt aliquip deserunt</p>
					</div>
				</div>
			</div>
			<div class="service__column">
				<div class="service__card">
					<div class="service__top">
						<div class="service__icon">
							<img src="./asset/image/dotted-icon-white.svg" alt="Dotted icon" />
						</div>
					</div>
					<div class="service__bottom">
						<h3 class="service__title">Miles Esther</h3>
						<p class="service__description">Voluptate exercitation incididunt aliquip deserunt</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: SERVICE -->

<!-- START: ABOUT US -->
<section class="about_us">
	<div class="about_us__container container">
		<div class="about_us__header">
			<span class="about_us__name">About Us</span>
			<h2 class="about_us__title">Laborum magna nulla duis</h2>
			<p class="about_us__description">
				Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. <br />
				Voluptate exercitation incididunt aliquip deserunt.
			</p>
		</div>
		<div class="about_us__content">
			<div class="about_us__row">
				<div class="about_us__column">
					<div class="about_us__image"></div>
				</div>
				<div class="about_us__column">
					<div class="about_us__list">
						<div class="about_us__list__item">
							<div class="about_us__list__icon">
								<img src="./asset/image/dotted-icon-black.svg" alt="Dotted icon" />
							</div>
							<div class="about_us__list__info">
								<h3 class="about_us__list__title">Profesional</h3>
								<p class="about_us__list__description">
									Amet minim mollit non deserunt ullamco est sit aliqua minim mollit non.
								</p>
							</div>
						</div>
						<div class="about_us__list__item">
							<div class="about_us__list__icon">
								<img src="./asset/image/dotted-icon-black.svg" alt="Dotted icon" />
							</div>
							<div class="about_us__list__info">
								<h3 class="about_us__list__title">Fast Respond</h3>
								<p class="about_us__list__description">
									Amet minim mollit non deserunt ullamco est sit aliqua minim mollit non.
								</p>
							</div>
						</div>
						<div class="about_us__list__item">
							<div class="about_us__list__icon">
								<img src="./asset/image/dotted-icon-black.svg" alt="Dotted icon" />
							</div>
							<div class="about_us__list__info">
								<h3 class="about_us__list__title">Creative Solution</h3>
								<p class="about_us__list__description">
									Amet minim mollit non deserunt ullamco est sit aliqua minim mollit non.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: ABOUT US -->

<!-- START: PRICE -->
<section class="price">
	<div class="price__animation">
		<div class="price__animation__triangle"></div>
		<div class="price__animation__circle"></div>
		<div class="price__animation__square"></div>
		<div class="price__animation__ball_01"></div>
		<div class="price__animation__ball_02"></div>
		<div class="price__animation__ball_03"></div>
		<div class="price__animation__ball_04"></div>
	</div>
	<div class="price__container container">
		<div class="price__header">
			<span class="price__name">Price</span>
			<h2 class="price__title">Laboris commodo consequat</h2>
			<p class="price__description">
				Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.<br />
				Voluptate exercitation incididunt aliquip deserunt.
			</p>
		</div>
		<div class="price__content">
			<div class="price__row">
				<div class="price__column">
					<div class="price__plan">
						<input
							type="radio"
							name="plan"
							class="price__radio"
							id="plan__basic"
							value="plan__basic"
							checked
						/>
						<label for="plan__basic" class="price__plan__item">
							<div class="price__plan__left">
								<div class="price__plan__bullet">
									<div class="price__plan__icon">
										<i class="fas fa-check"></i>
									</div>
								</div>
							</div>
							<div class="price__plan__center">
								<h3 class="price__plan__name">Basic</h3>
								<div class="price__plan__save">Save 20%</div>
							</div>
							<div class="price__plan__right">
								<span class="price__plan__price">
									<span class="price__plan__dollar">$</span>
									<span class="price__plan__number">24</span>
									<span class="price__plan__period">/ Monthly</span>
								</span>
							</div>
						</label>
						<input
							type="radio"
							name="plan"
							class="price__radio"
							id="plan__standart"
							value="plan__standart"
						/>
						<label for="plan__standart" class="price__plan__item">
							<div class="price__plan__left">
								<div class="price__plan__bullet">
									<div class="price__plan__icon">
										<i class="fas fa-check"></i>
									</div>
								</div>
							</div>
							<div class="price__plan__center">
								<h3 class="price__plan__name">Standart</h3>
								<div class="price__plan__save">Save 20%</div>
							</div>
							<div class="price__plan__right">
								<span class="price__plan__price">
									<span class="price__plan__dollar">$</span>
									<span class="price__plan__number">24</span>
									<span class="price__plan__period">/ Monthly</span>
								</span>
							</div>
						</label>
						<input
							type="radio"
							name="plan"
							class="price__radio"
							id="intermediante"
							value="plan__intermediante"
						/>
						<label for="intermediante" class="price__plan__item">
							<div class="price__plan__left">
								<div class="price__plan__bullet">
									<div class="price__plan__icon">
										<i class="fas fa-check"></i>
									</div>
								</div>
							</div>
							<div class="price__plan__center">
								<h3 class="price__plan__name">Intermediate</h3>
								<div class="price__plan__save">Save 20%</div>
							</div>
							<div class="price__plan__right">
								<span class="price__plan__price">
									<span class="price__plan__dollar">$</span>
									<span class="price__plan__number">24</span>
									<span class="price__plan__period">/ Monthly</span>
								</span>
							</div>
						</label>
					</div>
				</div>
				<div class="price__column">
					<div class="price__tab">
						<div class="price__tab__item" data-tab="plan__basic">
							<div class="price__list">
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">All limited link</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Unlimited users</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Chat support</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item">
									<p class="price__list__description">Optimized hashtags</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item">
									<p class="price__list__description">Analytic tools</p>
									<div class="price__list__icon"></div>
								</div>
							</div>
						</div>
						<div class="price__tab__item" data-tab="plan__standart">
							<div class="price__list">
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">All limited link</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Unlimited users</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Chat support</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Optimized hashtags</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item">
									<p class="price__list__description">Analytic tools</p>
									<div class="price__list__icon"></div>
								</div>
							</div>
						</div>
						<div class="price__tab__item" data-tab="plan__intermediante">
							<div class="price__list">
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">All limited link</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Unlimited users</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Chat support</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Optimized hashtags</p>
									<div class="price__list__icon"></div>
								</div>
								<div class="price__list__item price__list__item--active">
									<p class="price__list__description">Analytic tools</p>
									<div class="price__list__icon"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button class="price__button button primary">Choose Plan</button>
		</div>
	</div>
</section>
<!-- END: PRICE -->

<!-- START: TESTIMONY -->
<section class="testimony">
	<div class="testimony__container container">
		<div class="testimony__header">
			<span class="testimony__name">Testimony</span>
			<h2 class="testimony__title">Excepteur sint occaecat cupidatat</h2>
			<p class="testimony__description">
				Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.<br />
				Voluptate exercitation incididunt aliquip deserunt.
			</p>
		</div>
		<div class="testimony__content">
			<div class="testimony__slide">
				<div class="testimony__slide__item">
					<div class="testimony__slide__content">
						<div class="testimony__slide__left">
							<div class="testimony__slide__image"></div>
						</div>
						<div class="testimony__slide__right">
							<div class="testimony__slide__top">
								<p class="testimony__slide__message">
									"Your company is truly upstanding and is behind its product 100%. It's the perfect
									solution for our business. It has really helped our business."
								</p>
							</div>
							<div class="testimony__slide__bottom">
								<h3 class="testimony__slide__author">Howard Arlene</h3>
								<h3 class="testimony__slide__job">Finance Manager</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="testimony__slide__item">
					<div class="testimony__slide__content">
						<div class="testimony__slide__left">
							<div class="testimony__slide__image"></div>
						</div>
						<div class="testimony__slide__right">
							<div class="testimony__slide__top">
								<p class="testimony__slide__message">
									"Your company is truly upstanding and is behind its product 100%. It's the perfect
									solution for our business. It has really helped our business."
								</p>
							</div>
							<div class="testimony__slide__bottom">
								<h3 class="testimony__slide__author">Howard Arlene</h3>
								<h3 class="testimony__slide__job">Finance Manager</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="testimony__slide__item">
					<div class="testimony__slide__content">
						<div class="testimony__slide__left">
							<div class="testimony__slide__image"></div>
						</div>
						<div class="testimony__slide__right">
							<div class="testimony__slide__top">
								<p class="testimony__slide__message">
									"Your company is truly upstanding and is behind its product 100%. It's the perfect
									solution for our business. It has really helped our business."
								</p>
							</div>
							<div class="testimony__slide__bottom">
								<h3 class="testimony__slide__author">Howard Arlene</h3>
								<h3 class="testimony__slide__job">Finance Manager</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: TESTIMONY -->

<!-- START: BLOG -->
<section class="blog">
	<div class="blog__container container">
		<div class="blog__header">
			<span class="blog__name">Blog</span>
			<h2 class="blog__title">Laborum magna nulla duis</h2>
			<p class="blog__description">
				Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.<br />
				Voluptate exercitation incididunt aliquip deserunt.
			</p>
		</div>
		<div class="blog__content">
			<div class="blog__slide">
				<div class="blog__slide__item">
					<div class="blog__slide__content">
						<div class="blog__slide__top">
							<div class="blog__slide__image"></div>
						</div>
						<div class="blog__slide__bottom">
							<span class="blog__slide__category">Finance Manager</span>
							<h3 class="blog__slide__title">Lorem ipsum dolor sit amet, consectetur adipiscing</h3>
							<div class="blog__slide__action">
								<div class="blog__slide__action__item">
									<i class="fas fa-comment-dots"></i>
									25
								</div>
								<div class="blog__slide__action__item">
									<i class="fas fa-eye"></i>
									125k
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="blog__slide__item">
					<div class="blog__slide__content">
						<div class="blog__slide__top">
							<div class="blog__slide__image"></div>
						</div>
						<div class="blog__slide__bottom">
							<span class="blog__slide__category">Finance Manager</span>
							<h3 class="blog__slide__title">Lorem ipsum dolor sit amet, consectetur adipiscing</h3>
							<div class="blog__slide__action">
								<div class="blog__slide__action__item">
									<i class="fas fa-comment-dots"></i>
									25
								</div>
								<div class="blog__slide__action__item">
									<i class="fas fa-eye"></i>
									125k
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="blog__slide__item">
					<div class="blog__slide__content">
						<div class="blog__slide__top">
							<div class="blog__slide__image"></div>
						</div>
						<div class="blog__slide__bottom">
							<span class="blog__slide__category">Finance Manager</span>
							<h3 class="blog__slide__title">Lorem ipsum dolor sit amet, consectetur adipiscing</h3>
							<div class="blog__slide__action">
								<div class="blog__slide__action__item">
									<i class="fas fa-comment-dots"></i>
									25
								</div>
								<div class="blog__slide__action__item">
									<i class="fas fa-eye"></i>
									125k
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: BLOG -->

<!-- START: PARTNER -->
<section class="partner">
	<div class="partner__container container">
		<div class="partner__content">
			<div class="partner__list">
				<div class="partner__list__item">
					<div class="partner__list__logo">
						<img src="./asset/image/logo-3.svg" class="svg" alt="Logo partner 1" />
					</div>
				</div>
				<div class="partner__list__item">
					<div class="partner__list__logo">
						<img src="./asset/image/logo-2.svg" class="svg" alt="Logo partner 1" />
					</div>
				</div>
				<div class="partner__list__item">
					<div class="partner__list__logo">
						<img src="./asset/image/logo-1.svg" class="svg" alt="Logo partner 1" />
					</div>
				</div>
				<div class="partner__list__item">
					<div class="partner__list__logo">
						<img src="./asset/image/logo-4.svg" class="svg" alt="Logo partner 1" />
					</div>
				</div>
				<div class="partner__list__item">
					<div class="partner__list__logo">
						<img src="./asset/image/logo-5.svg" class="svg" alt="Logo partner 1" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: PARTNER -->

<!-- START: FOOTER -->
<section class="footer">
	<div class="footer__container container">
		<div class="footer__top">
			<div class="footer__row">
				<div class="footer__column">
					<span class="footer__title">Follow Us</span>
					<div class="footer__social">
						<div class="footer__social__item">
							<a href="#" class="footer__social__link">
								<i class="fas fa-rss-square"></i>
							</a>
						</div>
						<div class="footer__social__item">
							<a href="#" class="footer__social__link">
								<i class="fas fa-blog"></i>
							</a>
						</div>
						<div class="footer__social__item">
							<a href="#" class="footer__social__link">
								<i class="fas fa-audio-description"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="footer__column">
					<span class="footer__title">Contact Us</span>
					<p class="footer__address">
						4517 Washington Ave. Manchester,<br />
						Kentucky 39495
					</p>
					<p class="footer__email">deanna.curtis@example.com</p>
					<p class="footer__phone">(671) 555-0110</p>
				</div>
				<div class="footer__column">
					<span class="footer__title">Userfull Links</span>
					<ul class="footer__menu">
						<li class="footer__menu__item">
							<a href="#" class="footer__menu__link">About Us</a>
						</li>
						<li class="footer__menu__item">
							<a href="#" class="footer__menu__link">Blog</a>
						</li>
						<li class="footer__menu__item">
							<a href="#" class="footer__menu__link">Our Team</a>
						</li>
						<li class="footer__menu__item">
							<a href="#" class="footer__menu__link">404 Page</a>
						</li>
						<li class="footer__menu__item">
							<a href="#" class="footer__menu__link">Pricing Plans</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer__divisor"></div>
		<div class="footer__bottom">
			<div class="footer__copyright">
				<span class="footer__copyright__description">Copyright © 2020. All right reserved</span>
			</div>
			<div class="footer__compatible">
				<span class="footer__compatible__description">Compatible With:</span>
				<div class="footer__device">
					<div class="footer__device__item">
						<i class="fas fa-desktop"></i>
					</div>
					<div class="footer__device__item">
						<i class="fas fa-mobile-alt"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: FOOTER -->
