@font-face {
	font-family: 'feather';
	src: url('./assets/fonts/feather-icon/feather.eot?t=1525787366991'); /* IE9*/
	src:
		url('./assets/fonts/feather-icon/feather.eot?t=1525787366991#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./assets/fonts/feather-icon/feather.woff?t=1525787366991') format('woff'),
		/* chrome, firefox */ url('./assets/fonts/feather-icon/feather.ttf?t=1525787366991') format('truetype'),
		/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
			url('./assets/fonts/feather-icon/feather.svg?t=1525787366991#feather') format('svg'); /* iOS 4.1- */
}

.ft,
[class*='ft_'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'feather' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ft_alert_octagon:before {
	content: '\e81b';
}

.ft_alert_circle:before {
	content: '\e81c';
}

.ft_activity:before {
	content: '\e81d';
}

.ft_alert_triangle:before {
	content: '\e81e';
}

.ft_align_center:before {
	content: '\e81f';
}

.ft_airplay:before {
	content: '\e820';
}

.ft_align_justify:before {
	content: '\e821';
}

.ft_align_left:before {
	content: '\e822';
}

.ft_align_right:before {
	content: '\e823';
}

.ft_arrow_down_left:before {
	content: '\e824';
}

.ft_arrow_down_right:before {
	content: '\e825';
}

.ft_anchor:before {
	content: '\e826';
}

.ft_aperture:before {
	content: '\e827';
}

.ft_arrow_left:before {
	content: '\e828';
}

.ft_arrow_right:before {
	content: '\e829';
}

.ft_arrow_down:before {
	content: '\e82a';
}

.ft_arrow_up_left:before {
	content: '\e82b';
}

.ft_arrow_up_right:before {
	content: '\e82c';
}

.ft_arrow_up:before {
	content: '\e82d';
}

.ft_award:before {
	content: '\e82e';
}

.ft_bar_chart:before {
	content: '\e82f';
}

.ft_at_sign:before {
	content: '\e830';
}

.ft_bar_chart_2:before {
	content: '\e831';
}

.ft_battery_charging:before {
	content: '\e832';
}

.ft_bell_off:before {
	content: '\e833';
}

.ft_battery:before {
	content: '\e834';
}

.ft_bluetooth:before {
	content: '\e835';
}

.ft_bell:before {
	content: '\e836';
}

.ft_book:before {
	content: '\e837';
}

.ft_briefcase:before {
	content: '\e838';
}

.ft_camera_off:before {
	content: '\e839';
}

.ft_calendar:before {
	content: '\e83a';
}

.ft_bookmark:before {
	content: '\e83b';
}

.ft_box:before {
	content: '\e83c';
}

.ft_camera:before {
	content: '\e83d';
}

.ft_check_circle:before {
	content: '\e83e';
}

.ft_check:before {
	content: '\e83f';
}

.ft_check_square:before {
	content: '\e840';
}

.ft_cast:before {
	content: '\e841';
}

.ft_chevron_down:before {
	content: '\e842';
}

.ft_chevron_left:before {
	content: '\e843';
}

.ft_chevron_right:before {
	content: '\e844';
}

.ft_chevron_up:before {
	content: '\e845';
}

.ft_chevrons_down:before {
	content: '\e846';
}

.ft_chevrons_right:before {
	content: '\e847';
}

.ft_chevrons_up:before {
	content: '\e848';
}

.ft_chevrons_left:before {
	content: '\e849';
}

.ft_circle:before {
	content: '\e84a';
}

.ft_clipboard:before {
	content: '\e84b';
}

.ft_chrome:before {
	content: '\e84c';
}

.ft_clock:before {
	content: '\e84d';
}

.ft_cloud_lightning:before {
	content: '\e84e';
}

.ft_cloud_drizzle:before {
	content: '\e84f';
}

.ft_cloud_rain:before {
	content: '\e850';
}

.ft_cloud_off:before {
	content: '\e851';
}

.ft_codepen:before {
	content: '\e852';
}

.ft_cloud_snow:before {
	content: '\e853';
}

.ft_compass:before {
	content: '\e854';
}

.ft_copy:before {
	content: '\e855';
}

.ft_corner_down_right:before {
	content: '\e856';
}

.ft_corner_down_left:before {
	content: '\e857';
}

.ft_corner_left_down:before {
	content: '\e858';
}

.ft_corner_left_up:before {
	content: '\e859';
}

.ft_corner_up_left:before {
	content: '\e85a';
}

.ft_corner_up_right:before {
	content: '\e85b';
}

.ft_corner_right_down:before {
	content: '\e85c';
}

.ft_corner_right_up:before {
	content: '\e85d';
}

.ft_cpu:before {
	content: '\e85e';
}

.ft_credit_card:before {
	content: '\e85f';
}

.ft_crosshair:before {
	content: '\e860';
}

.ft_disc:before {
	content: '\e861';
}

.ft_delete:before {
	content: '\e862';
}

.ft_download_cloud:before {
	content: '\e863';
}

.ft_download:before {
	content: '\e864';
}

.ft_droplet:before {
	content: '\e865';
}

.ft_edit_2:before {
	content: '\e866';
}

.ft_edit:before {
	content: '\e867';
}

.ft_edit_1:before {
	content: '\e868';
}

.ft_external_link:before {
	content: '\e869';
}

.ft_eye:before {
	content: '\e86a';
}

.ft_feather:before {
	content: '\e86b';
}

.ft_facebook:before {
	content: '\e86c';
}

.ft_file_minus:before {
	content: '\e86d';
}

.ft_eye_off:before {
	content: '\e86e';
}

.ft_fast_forward:before {
	content: '\e86f';
}

.ft_file_text:before {
	content: '\e870';
}

.ft_film:before {
	content: '\e871';
}

.ft_file:before {
	content: '\e872';
}

.ft_file_plus:before {
	content: '\e873';
}

.ft_folder:before {
	content: '\e874';
}

.ft_filter:before {
	content: '\e875';
}

.ft_flag:before {
	content: '\e876';
}

.ft_globe:before {
	content: '\e877';
}

.ft_grid:before {
	content: '\e878';
}

.ft_heart:before {
	content: '\e879';
}

.ft_home:before {
	content: '\e87a';
}

.ft_github:before {
	content: '\e87b';
}

.ft_image:before {
	content: '\e87c';
}

.ft_inbox:before {
	content: '\e87d';
}

.ft_layers:before {
	content: '\e87e';
}

.ft_info:before {
	content: '\e87f';
}

.ft_instagram:before {
	content: '\e880';
}

.ft_layout:before {
	content: '\e881';
}

.ft_link_2:before {
	content: '\e882';
}

.ft_life_buoy:before {
	content: '\e883';
}

.ft_link:before {
	content: '\e884';
}

.ft_log_in:before {
	content: '\e885';
}

.ft_list:before {
	content: '\e886';
}

.ft_lock:before {
	content: '\e887';
}

.ft_log_out:before {
	content: '\e888';
}

.ft_loader:before {
	content: '\e889';
}

.ft_mail:before {
	content: '\e88a';
}

.ft_maximize_2:before {
	content: '\e88b';
}

.ft_map:before {
	content: '\e88c';
}

.ft_map_pin:before {
	content: '\e88e';
}

.ft_menu:before {
	content: '\e88f';
}

.ft_message_circle:before {
	content: '\e890';
}

.ft_message_square:before {
	content: '\e891';
}

.ft_minimize_2:before {
	content: '\e892';
}

.ft_mic_off:before {
	content: '\e893';
}

.ft_minus_circle:before {
	content: '\e894';
}

.ft_mic:before {
	content: '\e895';
}

.ft_minus_square:before {
	content: '\e896';
}

.ft_minus:before {
	content: '\e897';
}

.ft_moon:before {
	content: '\e898';
}

.ft_monitor:before {
	content: '\e899';
}

.ft_more_vertical:before {
	content: '\e89a';
}

.ft_more_horizontal:before {
	content: '\e89b';
}

.ft_move:before {
	content: '\e89c';
}

.ft_music:before {
	content: '\e89d';
}

.ft_navigation_2:before {
	content: '\e89e';
}

.ft_navigation:before {
	content: '\e89f';
}

.ft_octagon:before {
	content: '\e8a0';
}

.ft_package:before {
	content: '\e8a1';
}

.ft_pause_circle:before {
	content: '\e8a2';
}

.ft_pause:before {
	content: '\e8a3';
}

.ft_percent:before {
	content: '\e8a4';
}

.ft_phone_call:before {
	content: '\e8a5';
}

.ft_phone_forwarded:before {
	content: '\e8a6';
}

.ft_phone_missed:before {
	content: '\e8a7';
}

.ft_phone_off:before {
	content: '\e8a8';
}

.ft_phone_incoming:before {
	content: '\e8a9';
}

.ft_phone:before {
	content: '\e8aa';
}

.ft_phone_outgoing:before {
	content: '\e8ab';
}

.ft_pie_chart:before {
	content: '\e8ac';
}

.ft_play_circle:before {
	content: '\e8ad';
}

.ft_play:before {
	content: '\e8ae';
}

.ft_plus_square:before {
	content: '\e8af';
}

.ft_plus_circle:before {
	content: '\e8b0';
}

.ft_plus:before {
	content: '\e8b1';
}

.ft_pocket:before {
	content: '\e8b2';
}

.ft_printer:before {
	content: '\e8b3';
}

.ft_power:before {
	content: '\e8b4';
}

.ft_radio:before {
	content: '\e8b5';
}

.ft_repeat:before {
	content: '\e8b6';
}

.ft_refresh_ccw:before {
	content: '\e8b7';
}

.ft_rewind:before {
	content: '\e8b8';
}

.ft_rotate_ccw:before {
	content: '\e8b9';
}

.ft_refresh_cw:before {
	content: '\e8ba';
}

.ft_rotate_cw:before {
	content: '\e8bb';
}

.ft_save:before {
	content: '\e8bc';
}

.ft_search:before {
	content: '\e8bd';
}

.ft_server:before {
	content: '\e8be';
}

.ft_scissors:before {
	content: '\e8bf';
}

.ft_share_2:before {
	content: '\e8c0';
}

.ft_share:before {
	content: '\e8c1';
}

.ft_shield:before {
	content: '\e8c2';
}

.ft_settings:before {
	content: '\e8c3';
}

.ft_skip_back:before {
	content: '\e8c4';
}

.ft_shuffle:before {
	content: '\e8c5';
}

.ft_sidebar:before {
	content: '\e8c6';
}

.ft_skip_forward:before {
	content: '\e8c7';
}

.ft_slack:before {
	content: '\e8c8';
}

.ft_slash:before {
	content: '\e8c9';
}

.ft_smartphone:before {
	content: '\e8ca';
}

.ft_square:before {
	content: '\e8cb';
}

.ft_speaker:before {
	content: '\e8cc';
}

.ft_star:before {
	content: '\e8cd';
}

.ft_stop_circle:before {
	content: '\e8ce';
}

.ft_sun:before {
	content: '\e8cf';
}

.ft_sunrise:before {
	content: '\e8d0';
}

.ft_tablet:before {
	content: '\e8d1';
}

.ft_tag:before {
	content: '\e8d2';
}

.ft_sunset:before {
	content: '\e8d3';
}

.ft_target:before {
	content: '\e8d4';
}

.ft_thermometer:before {
	content: '\e8d5';
}

.ft_thumbs_up:before {
	content: '\e8d6';
}

.ft_thumbs_down:before {
	content: '\e8d7';
}

.ft_toggle_left:before {
	content: '\e8d8';
}

.ft_toggle_right:before {
	content: '\e8d9';
}

.ft_trash_2:before {
	content: '\e8da';
}

.ft_trash:before {
	content: '\e8db';
}

.ft_trending_up:before {
	content: '\e8dc';
}

.ft_trending_down:before {
	content: '\e8dd';
}

.ft_triangle:before {
	content: '\e8de';
}

.ft_type:before {
	content: '\e8df';
}

.ft_twitter:before {
	content: '\e8e0';
}

.ft_upload:before {
	content: '\e8e1';
}

.ft_umbrella:before {
	content: '\e8e2';
}

.ft_upload_cloud:before {
	content: '\e8e3';
}

.ft_unlock:before {
	content: '\e8e4';
}

.ft_user_check:before {
	content: '\e8e5';
}

.ft_user_minus:before {
	content: '\e8e6';
}

.ft_user_plus:before {
	content: '\e8e7';
}

.ft_user_x:before {
	content: '\e8e8';
}

.ft_user:before {
	content: '\e8e9';
}

.ft_users:before {
	content: '\e8ea';
}

.ft_video_off:before {
	content: '\e8eb';
}

.ft_video:before {
	content: '\e8ec';
}

.ft_voicemail:before {
	content: '\e8ed';
}

.ft_volume_x:before {
	content: '\e8ee';
}

.ft_volume_2:before {
	content: '\e8ef';
}

.ft_volume_1:before {
	content: '\e8f0';
}

.ft_volume:before {
	content: '\e8f1';
}

.ft_watch:before {
	content: '\e8f2';
}

.ft_wifi:before {
	content: '\e8f3';
}

.ft_x_square:before {
	content: '\e8f4';
}

.ft_wind:before {
	content: '\e8f5';
}

.ft_x:before {
	content: '\e8f6';
}

.ft_x_circle:before {
	content: '\e8f7';
}

.ft_zap:before {
	content: '\e8f8';
}

.ft_zoom_in:before {
	content: '\e8f9';
}

.ft_zoom_out:before {
	content: '\e8fa';
}

.ft_command:before {
	content: '\e8fb';
}

.ft_cloud:before {
	content: '\e8fc';
}

.ft_hash:before {
	content: '\e8fd';
}

.ft_headphones:before {
	content: '\e8fe';
}

.ft_underline:before {
	content: '\e8ff';
}

.ft_italic:before {
	content: '\e900';
}

.ft_bold:before {
	content: '\e901';
}

.ft_crop:before {
	content: '\e902';
}

.ft_help_circle:before {
	content: '\e903';
}

.ft_paperclip:before {
	content: '\e904';
}

.ft_shopping_cart:before {
	content: '\e905';
}

.ft_tv:before {
	content: '\e906';
}

.ft_wifi_off:before {
	content: '\e907';
}

.ft_minimize:before {
	content: '\e88d';
}

.ft_maximize:before {
	content: '\e908';
}

.ft_gitlab:before {
	content: '\e909';
}

.ft_sliders:before {
	content: '\e90a';
}

.ft_star_on:before {
	content: '\e90b';
}

.ft_heart_on:before {
	content: '\e90c';
}

.ft_archive:before {
	content: '\e90d';
}

.ft_arrow_down_circle:before {
	content: '\e90e';
}

.ft_arrow_up_circle:before {
	content: '\e90f';
}

.ft_arrow_left_circle:before {
	content: '\e910';
}

.ft_arrow_right_circle:before {
	content: '\e911';
}

.ft_bar_chart_line_:before {
	content: '\e912';
}

.ft_bar_chart_line:before {
	content: '\e913';
}

.ft_book_open:before {
	content: '\e914';
}

.ft_code:before {
	content: '\e915';
}

.ft_database:before {
	content: '\e916';
}

.ft_dollar_sign:before {
	content: '\e917';
}

.ft_folder_plus:before {
	content: '\e918';
}

.ft_gift:before {
	content: '\e919';
}

.ft_folder_minus:before {
	content: '\e91a';
}

.ft_git_commit:before {
	content: '\e91b';
}

.ft_git_branch:before {
	content: '\e91c';
}

.ft_git_pull_request:before {
	content: '\e91d';
}

.ft_git_merge:before {
	content: '\e91e';
}

.ft_linkedin:before {
	content: '\e91f';
}

.ft_hard_drive:before {
	content: '\e920';
}

.ft_more_vertical_:before {
	content: '\e921';
}

.ft_more_horizontal_:before {
	content: '\e922';
}

.ft_rss:before {
	content: '\e923';
}

.ft_send:before {
	content: '\e924';
}

.ft_shield_off:before {
	content: '\e925';
}

.ft_shopping_bag:before {
	content: '\e926';
}

.ft_terminal:before {
	content: '\e927';
}

.ft_truck:before {
	content: '\e928';
}

.ft_zap_off:before {
	content: '\e929';
}

.ft_youtube:before {
	content: '\e92a';
}
