@import './app/modules/simple-angular/simple-angular.component.scss';

// @import './theme.scss';
// @import './vars.scss';
// @import './feather-icon.scss';
// @import './mixin.scss';
// @import '~@fortawesome/fontawesome-free/css/all.css';

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html {
	max-width: 100%;
	min-height: 100dvh;
	scroll-behavior: smooth;
}
