@import './theme.scss';
@import './../../../../../theme.scss';
@import './../../../../../mixin.scss';
@import './components/container/container.component.scss';
@import './components/button/button.component.scss';
@import './components/information/information.component.scss';

.landing_page01 {
	&__main {
		overflow: hidden;
		position: relative;
		margin-inline: auto;
		width: min(100%, 1600px);
		box-shadow: 0px 0px 100px -75px var(--grey0);
	}
}

.ornament {
	--boxColor: var(--redLight);
	position: absolute;
	inset: 0;
	pointer-events: none;

	&__item {
		position: absolute;

		&.box {
			width: 62px;
			height: 62px;

			&.red {
				--boxColor: var(--redLight);
				background-color: var(--baseRed);
			}
			&.green {
				--boxColor: var(--greenLight);
				background-color: var(--green);
			}
			&.blue {
				--boxColor: var(--blueLight);
				background-color: var(--blue);
			}

			&:before {
				--boxTriangleSize: 16px;
				content: '';
				position: absolute;
				bottom: 0px;
				right: 0px;
				border-right: var(--boxTriangleSize) solid transparent;
				border-bottom: var(--boxTriangleSize) solid transparent;
				border-left: var(--boxTriangleSize) solid var(--boxColor);
				border-top: var(--boxTriangleSize) solid var(--boxColor);
			}
		}
		&.dotted {
			width: 116px;
			height: 116px;

			&.red {
				background-image: url('./../../../../../assets/images/landing-pages/landing-page01/landing_page01_dotted_red.png');
				object-fit: contain;
			}
		}
	}
}
