$baseRed: #f7473e;
$baseRedLight: #fed0cd;
$red: #f7473e;
$redLight: #f37b74;
$green: #43cc74;
$greenLight: #5dd789;
$blue: #279ada;
$blueLight: #64b4e1;

:host {
	--baseRed: #{$baseRed};
	--baseRedLight: #{$baseRedLight};
	--red: #{$red};
	--redLight: #{$redLight};
	--green: #{$green};
	--greenLight: #{$greenLight};
	--blue: #{$blue};
	--blueLight: #{$blueLight};
}
