<!-- START: NAV -->
<label for="nav__controller" class="nav__controller">
	<i class="fas fa-bars"></i>
</label>
<input type="checkbox" id="nav__controller" />
<nav class="nav">
	<div class="nav__container container">
		<div class="nav__left">
			<div class="nav__logo">
				<img src="assets/images/landing-pages/landing-page02/logo.svg" alt="Logo" />
			</div>
		</div>
		<div class="nav__center">
			<ul class="nav__menu">
				<li class="nav__item nav__item--active">
					<a href="#" class="nav__link">Home</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Pages</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Services</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Projects</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Blog</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Contact Us</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Career</a>
				</li>
			</ul>
		</div>
		<div class="nav__right">
			<button class="nav__button button primary">Sign in</button>
		</div>
	</div>
</nav>
<!-- END: NAV -->
