@import './../../all';

#nav__controller {
	display: none;
}

.nav {
	width: 100%;
	height: 85px;
	background-color: $white;
	display: flex;
	align-items: center;

	&__controller {
		width: 50px;
		height: 50px;
		bottom: 20px;
		right: 20px;
		border-radius: 50%;
		z-index: 1001;
		background-image: linear-gradient(145deg, #ff7eb3, #ff758c);
		box-shadow: 0px 19px 33px adjust-color($color: #6f6d71, $alpha: -0.83);
		position: fixed;
		display: none;
		justify-content: center;
		align-items: center;

		i {
			font-size: 1.5rem;
			color: $white;
		}
	}

	&__container {
		max-width: 1250px;
		flex-basis: 1250px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__left {
	}
	&__logo {
		height: 35px;
		img {
			height: 100%;
			object-fit: contain;
		}
	}
	&__center {
	}
	&__menu {
		margin-top: 4px;
		display: flex;
		transform: translateX(-21px);
	}
	&__item {
		margin-right: 19px;

		&:last-child {
			margin-right: 0px;
		}
		&--active {
			.nav__link {
				transition: 0.5s;
				color: #ff7eb3;
			}
		}
	}
	&__link {
		font-size: 1.099rem;
		transition: 0.5s;

		&:hover {
			transition: 0.5s;
			color: #ff7eb3;
		}
	}
	&__right {
	}
	&__button {
		width: 112px;
		font-size: 1.1rem;
		min-height: 44px;
	}
}

@media all and (max-width: 1200px) {
	.nav {
		&__container {
		}
		&__left {
		}
		&__logo {
			img {
			}
		}
		&__center {
		}
		&__menu {
		}
		&__item {
			&:last-child {
			}
			&--active {
				.nav__link {
				}
			}
		}
		&__link {
			&:hover {
			}
		}
		&__right {
		}
		&__button {
		}
	}
}

@media all and (max-width: 992px) {
	.nav {
		&__container {
		}
		&__left {
		}
		&__logo {
			height: 25px;
			img {
			}
		}
		&__center {
		}
		&__menu {
			transform: translateX(0px);
		}
		&__item {
			&:last-child {
			}
			&--active {
				.nav__link {
				}
			}
		}
		&__link {
			font-size: 0.8rem;
			&:hover {
			}
		}
		&__right {
		}
		&__button {
			min-height: 30px;
			width: initial;
		}
	}
}

@media all and (max-width: 768px) {
	#nav__controller:checked {
		~ .nav {
			left: 0px;
			transition: 0.5s;
		}
	}
	.nav {
		width: 250px;
		height: 100vh;
		z-index: 1000;
		top: 0px;
		left: -250px;
		transition: 0.5s;
		box-shadow: 0px 19px 33px adjust-color($color: #6f6d71, $alpha: -0.83);
		position: fixed;

		&__controller {
			display: flex;
		}

		&__container {
			flex-direction: column;
		}
		&__left {
		}
		&__logo {
			img {
			}
		}
		&__center {
		}
		&__menu {
			margin: 30px 0px;
			flex-direction: column;
		}
		&__item {
			margin-right: 0px;
			text-align: center;

			&:last-child {
			}
			&--active {
				.nav__link {
				}
			}
		}
		&__link {
			&:hover {
			}
		}
		&__right {
		}
		&__button {
		}
	}
}

@media all and (max-width: 576px) {
	.nav {
		&__container {
		}
		&__left {
		}
		&__logo {
			img {
			}
		}
		&__center {
		}
		&__menu {
		}
		&__item {
			&:last-child {
			}
			&--active {
				.nav__link {
				}
			}
		}
		&__link {
			&:hover {
			}
		}
		&__right {
		}
		&__button {
		}
	}
}
