<div class="footer">
	<div class="footer__container container small">
		<div class="footer__content">
			<div class="footer__left">
				<img
					src="assets/images/landing-pages/landing-page01/landing_page01_logo_white.png"
					alt="Logo"
					class="footer__image"
				/>
				<ul class="footer__list">
					<li class="footer__list_item">
						<span class="footer_list_icon ft_map_pin"></span>
						<span class="footer_list_text">8819 Ohio St. South Gate, CA 90280</span>
					</li>
					<li class="footer__list_item">
						<span class="footer_list_icon ft_phone3"></span>
						<span class="footer_list_text">+1 386-688-3295</span>
					</li>
					<li class="footer__list_item">
						<span class="footer_list_icon ft_mail"></span>
						<span class="footer_list_text">OurStudio@hello.com</span>
					</li>
				</ul>
			</div>
			<div class="footer__center">
				<ul class="footer__list">
					<span class="footer__list_title">Service</span>
					<li class="footer__list_item">
						<span class="footer_list_text">UI/UX Design</span>
					</li>
					<li class="footer__list_item">
						<span class="footer_list_text">Web Development</span>
					</li>
					<li class="footer__list_item">
						<span class="footer_list_text">Mobile Development</span>
					</li>
					<li class="footer__list_item">
						<span class="footer_list_text">IT Consultancy</span>
					</li>
					<li class="footer__list_item">
						<span class="footer_list_text">Database Security</span>
					</li>
					<li class="footer__list_item">
						<span class="footer_list_text">QA Testing</span>
					</li>
				</ul>
				<ul class="footer__list">
					<span class="footer__list_title">Company</span>
					<li class="footer__list_item">
						<span class="footer_list_text">Features</span>
					</li>
					<li class="footer__list_item">
						<span class="footer_list_text">Our Team</span>
					</li>
					<li class="footer__list_item">
						<span class="footer_list_text">Portfolio</span>
					</li>
					<li class="footer__list_item">
						<span class="footer_list_text">Blog</span>
					</li>
					<li class="footer__list_item">
						<span class="footer_list_text">Contact</span>
					</li>
				</ul>
			</div>
			<div class="footer__right">
				<ul class="footer__social">
					<span class="footer__social_title">Our Social Media</span>
					<li class="footer__social_item">
						<a class="footer__social_link">
							<span class="footer__social_icon ft_facebook"></span>
						</a>
					</li>
					<li class="footer__social_item">
						<a class="footer__social_link">
							<span class="footer__social_icon ft_linkedin"></span>
						</a>
					</li>
					<li class="footer__social_item">
						<a class="footer__social_link">
							<span class="footer__social_icon ft_twitter"></span>
						</a>
					</li>
					<li class="footer__social_item">
						<a class="footer__social_link">
							<span class="footer__social_icon ft_instagram"></span>
						</a>
					</li>
					<li class="footer__social_item">
						<a class="footer__social_link">
							<span class="footer__social_icon ft_github"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__container container small">
		<div class="footer__content"></div>
	</div>
</div>
