@use './../../../../../../mixins.scss' as mixins;

.resume_contacts01 {
	&__list {
	}

	&__list_item {
		@include mixins.flex(center, center);
		margin-bottom: 15px;

		@include mixins.md {
			@include mixins.flex(flex-start);
		}
	}

	&__list_icon {
	}

	&__list_name {
		@include mixins.text(12px, 300);
		color: var(--grey7);
		display: block;
		margin-top: 0px;
	}

	::ng-deep {
		.resume_contacts01 {
			&__list_icon {
				stroke: var(--resume01_primary);
				margin-right: 5px;
			}
		}
	}
}
